Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_job, build_gui_job, build_smetana_job, build_cron_job, build_paraview_job, build_trame_job

Path conditions:
  build_api_job: any of: api/**/*
  build_gui_job: any of: quasar-gui/**/*
  build_smetana_job: any of: smetana/**/*
  build_cron_job: any of: cron/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*

fixed get Results call
  quasar-gui/app/src/components/actions/ViewActions.vue
Due: build_gui_job

added cara job options
  api/app/support/base_models.py
  api/app/support/sbatch_creator.py
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  gui/app/src/assets/models/Smetana/Smetana.json
  quasar-gui/app/src/assets/models/DCBmodel/DCBmodel.json
  quasar-gui/app/src/assets/models/Dogbone/Dogbone.json
  quasar-gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  quasar-gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  quasar-gui/app/src/assets/models/Smetana/Smetana.json
  quasar-gui/app/src/components/expansions/Job.vue
  quasar-gui/app/src/stores/model-store.js
Due: build_api_job, build_gui_job

added curl to trame and fixed getResults loading
  paraview/Dockerfile
  quasar-gui/app/src/components/actions/ViewActions.vue
Due: build_gui_job, build_paraview_job

Removed slim from trame api
  paraview/Dockerfile
  trame/Dockerfile
Due: build_paraview_job, build_trame_job

used python3.9 for trame
  trame/Dockerfile
Due: build_trame_job

Fixed showBondFilters
  api/app/api_main.py
  gui/app/src/assets/models/ENFmodel/ENFmodel.json
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/views/ModelView.vue
Due: build_api_job, build_gui_job

Optimized Bondfilters and trame
  quasar-gui/app/src/assets/models/CompactTension/CompactTension.json
  quasar-gui/app/src/assets/models/ENFmodel/ENFmodel.json
  quasar-gui/app/src/assets/models/GICmodel/GICmodel.json
  quasar-gui/app/src/assets/models/GIICmodel/GIICmodel.json
  quasar-gui/app/src/assets/models/KICmodel/KICmodel.json
  quasar-gui/app/src/assets/models/KIICmodel/KIICmodel.json
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/views/ModelView.vue
  trame/app/api_main.py
  trame/app/main.py
Due: build_gui_job, build_trame_job

Added Eigen to sbatch
  api/app/support/sbatch_creator.py
  quasar-gui/app/src/pages/PeriHub.vue
Due: build_api_job, build_gui_job

Fixed cara job submission
  api/app/api_main.py
  api/app/support/globals.py
  api/app/support/sbatch_creator.py
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Job.vue
Due: build_api_job, build_gui_job

Fixed log scrolling
  quasar-gui/app/src/components/views/LogView.vue
Due: build_gui_job

added modelSubName
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  api/app/support/base_models.py
  api/app/support/file_handler.py
  api/app/support/model_writer.py
  quasar-gui/app/src/components/ViewComp.vue
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Model.vue
  quasar-gui/app/src/components/views/JobsView.vue
  quasar-gui/app/src/components/views/ModelView.vue
  quasar-gui/app/src/pages/PeriHub.vue
  quasar-gui/app/src/stores/model-store.js
  quasar-gui/app/src/utils/functions.js
Due: build_api_job, build_gui_job

Added getJobs Endpoint
  api/app/api_main.py
  api/app/support/base_models.py
  api/app/support/file_handler.py
  quasar-gui/app/src/components/views/JobsView.vue
Due: build_api_job, build_gui_job

Added getJobs to JobsView
  quasar-gui/app/src/components/views/JobsView.vue
Due: build_gui_job

added model Folder option
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  api/app/support/base_models.py
  api/app/support/file_handler.py
  api/app/support/model_writer.py
  api/app/support/sbatch_creator.py
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Model.vue
  quasar-gui/app/src/components/views/JobsView.vue
  quasar-gui/app/src/components/views/ModelView.vue
  quasar-gui/app/src/stores/model-store.js
Due: build_api_job, build_gui_job

Rename disabled
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Job.vue
  quasar-gui/app/src/components/views/JobsView.vue
Due: build_gui_job

Fixex download and trame
  api/app/api_main.py
  quasar-gui/app/src/assets/models/CompactTension/CompactTension.json
  quasar-gui/app/src/assets/models/DCBmodel/DCBmodel.json
  quasar-gui/app/src/assets/models/Dogbone/Dogbone.json
  quasar-gui/app/src/assets/models/ENFmodel/ENFmodel.json
  quasar-gui/app/src/assets/models/GICmodel/GICmodel.json
  quasar-gui/app/src/assets/models/GIICmodel/GIICmodel.json
  quasar-gui/app/src/assets/models/KICmodel/KICmodel.json
  quasar-gui/app/src/assets/models/KIICmodel/KIICmodel.json
  quasar-gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  quasar-gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  quasar-gui/app/src/assets/models/Smetana/Smetana.json
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  trame/app/api_main.py
  trame/app/main.py
Due: build_api_job, build_gui_job, build_trame_job

Fixed cara job error
  api/app/support/file_handler.py
Due: build_api_job

Fixed viewPointData
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/views/ModelView.vue
Due: build_gui_job

Fixed bondfilter and added cancel Button
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/views/JobsView.vue
  quasar-gui/app/src/components/views/ModelView.vue
  quasar-gui/app/src/stores/view-store.js
Due: build_gui_job

Formatting and added pyproject
  .gitlab-ci.yml
  .pre-commit-config.yaml
  api/app/.flake8
  api/app/Makefile
  api/app/Verification/verification_models.py
  api/app/api_main.py
  api/app/dev_models/AttF56F/attf56f_tmp.py
  api/app/dev_models/Atte6b5/atte6b5_tmp.py
  api/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  api/app/pyproject.toml
  api/app/support/analysis.py
  api/app/support/crack_analysis.py
  api/app/support/crack_length.py
  api/app/support/exodus_reader.py
  api/app/support/file_handler.py
  api/app/support/geometry.py
  api/app/support/image_export.py
  api/app/support/material.py
  api/app/support/model_writer.py
  api/app/support/sbatch_creator.py
  api/app/support/test.py
  api/app/support/video_export.py
  api/app/support/xml_creator.py
  api/app/support/yaml_creator.py
  api/app/tests/image_export/test_image_export.py
  api/app/tests/image_export/test_video_export.py
  api/app/tests/unit/test_main.py
  quasar-gui/app/src/components/expansions/Job.vue
Due: build_api_job, build_gui_job

Added PlateWithOpening
  .gitlab-ci.yml
  api/app/Makefile
  api/app/api_main.py
  api/app/assets/models/PlateWithOpening/PlateWithOpening.jpg
  api/app/assets/models/PlateWithOpening/PlateWithOpening.json
  api/app/models/PlateWithOpening/PlateWithOpening.md
  api/app/models/PlateWithOpening/PlateWithOpening.pub
  api/app/models/PlateWithOpening/__init__.py
  api/app/models/PlateWithOpening/plate_with_opening.py
  api/app/support/geometry.py
  api/app/tests/unit/test_main.py
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_api_job, build_gui_job

Fixed pipeline
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/dev_models/crack_length.py
  api/app/dev_models/gic.py
  api/app/dev_models/test.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/pyproject.toml
Due: build_api_job

fixed pipeline
  api/app/.flake8
  api/app/Makefile
  api/app/api_main.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/pyproject.toml
  api/app/support/analysis.py
  api/app/support/crack_analysis.py
  api/app/support/exodus_reader.py
  api/app/support/file_handler.py
  api/app/support/globals.py
  api/app/support/image_export.py
  api/app/support/video_export.py
  api/app/support/xml_creator.py
  api/requirements-dev.txt
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_api_job, build_gui_job

fixed pipeline?
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_api_job, build_gui_job

Fixed pipeline?
  api/app/assets/models/PlateWithOpening/PlateWithOpening.json
  api/app/support/analysis.py
  api/app/support/video_export.py
  api/app/support/xml_creator.py
  api/app/tests/image_export/test_image_export.py
  api/app/tests/image_export/test_video_export.py
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/stores/model-store.js
Due: build_api_job, build_gui_job

pipeline fixed?
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/models/DCBmodel/dcb_model.py
  api/requirements-dev.txt
Due: build_api_job

Fixed pipeline
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/models/OwnModel/own_model.py
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_api_job, build_gui_job

fixed pipeline
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  quasar-gui/app/src/components/actions/TextActions.vue
Due: build_api_job, build_gui_job

Finished api pipeline
  .gitlab-ci.yml
  api/app/Makefile
  api/app/models/DCBmodel/dcb_model.py
Due: build_api_job

Fixed so upload
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/expansions/Material.vue
Due: build_gui_job

Fixed recursive model loading bug
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/views/ModelView.vue
Due: build_gui_job

Fixed writing
  api/app/Verification/verification_models.py
  api/app/assets/models/CompactTension/CompactTension.json
  api/app/assets/models/DCBmodel/DCBmodel.json
  api/app/assets/models/Dogbone/Dogbone.json
  api/app/assets/models/ENFmodel/ENFmodel.json
  api/app/assets/models/GICmodel/GICmodel.json
  api/app/assets/models/GIICmodel/GIICmodel.json
  api/app/assets/models/KICmodel/KICmodel.json
  api/app/assets/models/KIICmodel/KIICmodel.json
  api/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  api/app/assets/models/PlateWithHole/PlateWithHole.json
  api/app/assets/models/PlateWithOpening/PlateWithOpening.json
  api/app/assets/models/Smetana/Smetana.json
  api/app/dev_models/GICmodel/gic_model.py
  api/app/dev_models/GIICmodel/giic_model.py
  api/app/dev_models/KICmodel/kic_model.py
  api/app/dev_models/KIICmodel/kiic_model.py
  api/app/models/Smetana/smetana.py
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  gui/app/src/pages/script.js
  gui/app/src/pages/template.html
  quasar-gui/app/src/components/expansions/Damage.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/stores/model-store.js
Due: build_api_job, build_gui_job

added allow cors
  quasar-gui/nginx.conf
Due: build_gui_job

Fixed damageKeys
  quasar-gui/app/src/components/expansions/Damage.vue
Due: build_gui_job

Fixed compactTension bondfilter
  api/app/assets/models/CompactTension/CompactTension.json
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_api_job, build_gui_job

added subname to ownModel
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Model.vue
Due: build_gui_job

Fixed gcode path
  api/app/api_main.py
Due: build_api_job
