Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job, build_gui_job, build_smetana_job, build_cron_job, build_paraview_job, build_trame_job

.gitlab-ci.yml:

variables: &globals
  CI_REGISTRY_PATH: "harbor.fa-services.intra.dlr.de/hess_ja/"

stages:
  - test
  - audit
  - build

.install-deps-template: &install-deps
  only:
    refs:
      - main
    changes:
      - api/**/*
  allow_failure: true
  before_script:
    - apt update && apt install -y make git
    - pip install -r api/requirements-dev.txt
    - pip install -i https://test.pypi.org/simple/ exodusreader
    - pip install -i https://test.pypi.org/simple/ gcodereader
    - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
    - cd api/app

.test-template: &test
  <<: *install-deps
  stage: test
  script: make test
  tags:
    - docker
  except:
    - tags
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

.audit-template: &audit
  <<: *install-deps
  image: python:3.11-slim
  stage: audit
  tags:
    - docker
  except:
    - tags

test-linux-py3.11:
  image: python:3.11-slim
  <<: *test

check-code:
  <<: *audit
  script:
    - make check-code
  artifacts:
    when: on_failure
    expose_as: "Linter Report"
    paths: ["build/flake8.txt"]

check-coverage:
  <<: *audit
  script:
    - make check-coverage
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    when: always
    expose_as: "Coverage Report"
    paths:
      - build/htmlcov
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

check-formatting:
  <<: *audit
  script:
    - make check-formatting

build_api_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - api/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}peri_hub_api_image api/.
    - docker push ${CI_REGISTRY_PATH}peri_hub_api_image

# build_gui_job:
#   stage: Build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - gui/**/*
#   script:
#     - docker build -t ${CI_REGISTRY_PATH}peri_hub_gui_image gui/.
#     - docker push ${CI_REGISTRY_PATH}peri_hub_gui_image

build_gui_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - quasar-gui/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}peri_hub_gui_image quasar-gui/.
    - docker push ${CI_REGISTRY_PATH}peri_hub_gui_image

build_smetana_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - smetana/**/*
  script:
    - docker build --build-arg GITLAB_TOKEN=$GITLAB_TOKEN -t ${CI_REGISTRY_PATH}smetana smetana/.
    - docker push ${CI_REGISTRY_PATH}smetana

build_cron_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - cron/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}cron_image cron/.
    - docker push ${CI_REGISTRY_PATH}cron_image

build_paraview_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - paraview/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}paraview_image paraview/.
    - docker push ${CI_REGISTRY_PATH}paraview_image

build_trame_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - trame/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}trame_image trame/.
    - docker push ${CI_REGISTRY_PATH}trame_image

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
    - docker logout

Fixed gcode import
  api/app/api_main.py
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/expansions/Model.vue
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job, build_gui_job

added intel module to sbatch
  api/app/support/sbatch_creator.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

added Stae Vars to output
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Output.vue
Due: build_gui_job

Fixed umat revert
  api/app/api_main.py
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

maybe fixed usermat save
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Fixed umat save
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Optimized umat copy
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

fixed umat save
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Added number of output steps
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  quasar-gui/app/src/components/expansions/Output.vue
  quasar-gui/app/src/stores/model-store.js
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job, build_gui_job

fixed copy lib
  api/app/support/file_handler.py
  trilinos/Dockerfile
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Fixed copy lib
  api/app/support/file_handler.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Fixed trilinos installation
  trilinos/Dockerfile
Due: none

fixed default json
  api/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Changed shepard key
  shepard/shepard_edit.py
  shepard/shepard_upload.py
Due: none

Removed cmake install from trilinos
  trilinos/Dockerfile
Due: none

added Elastic Bond Associated Correspondence
  quasar-gui/app/src/components/expansions/Material.vue
Due: build_gui_job

Fixed includes
  quasar-gui/app/src/components/expansions/Material.vue
Due: build_gui_job

Updated paraview and added trame buttons
  docker-compose.yml
  paraview/Dockerfile
  trame/Dockerfile
  trame/app/api_main.py
  trame/app/main.py
Due: build_paraview_job, build_trame_job

optimized trame gui
  trame/app/main.py
Due: build_trame_job

added compact Tension props
  api/app/assets/models/CompactTension/CompactTension.json
  api/app/assets/models/CompactTension/CompactTensionProps.json
  shepard/shepard_props.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Added websocket for logging
  api/app/api_main.py
  api/app/support/file_handler.py
  api/requirements.txt
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/views/JobsView.vue
  shepard/shepard_create_data_object.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job, build_gui_job

Fixed viewPointData call
  quasar-gui/app/src/components/views/ModelView.vue
Due: build_gui_job

Fixed undefine model folder
  api/app/api_main.py
  quasar-gui/app/src/components/actions/ModelActions.vue
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job, build_gui_job

update api
  api/app/api_main.py
Due: test-linux-py3.11, check-code, check-coverage, check-formatting, build_api_job

Fixed calculate critical energy
  quasar-gui/app/src/components/expansions/Damage.vue
  quasar-gui/app/src/components/expansions/Output.vue
Due: build_gui_job

Fixed damage
  quasar-gui/app/src/components/expansions/Damage.vue
Due: build_gui_job

Fixed untracked files
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  frontend/app/.vscode/extension.json.license
  frontend/app/.vscode/settings.json.license
Due: none

Fixed base model and trame api
  backend/app/routers/jobs.py
  backend/app/support/base_models.py
  frontend/app/.vscode/extensions.json.license
  trame/app/api_main.py
Due: build_trame_job

removed user and added license
  .gitignore
  .gitlab-ci.yml
  LICENSE.md
  README.md
  archive/compareExodus.py
  backend/app/dev_models/crack_length.py
  backend/app/dev_models/gic.py
  backend/app/dev_models/test.py
  backend/app/support/file_handler.py
  frontend/app/package.json
  frontend/app/src/stores/model-store.js
  paraview/Dockerfile
  peridigm/Dockerfile
  peridigm/netcdf/Dockerfile
  peridigm/trilinos/Dockerfile
  shepard/shepard_create_data_object.py
  shepard/shepard_edit.py
  shepard/shepard_permission.py
  shepard/shepard_plot.py
  shepard/shepard_props.py
  shepard/shepard_timeseries.py
  shepard/shepard_upload.py
  trame/Dockerfile
Due: build_paraview_job, build_trame_job

Fixed tests
  backend/app/Makefile
  backend/app/tests/image_export/test_image_export.py
  backend/app/tests/image_export/test_video_export.py
  backend/app/tests/unit/test_main.py
Due: none

print response error
  backend/app/tests/unit/test_main.py
Due: none

Fixed additive base model
  backend/app/support/base_models.py
Due: none

added additve to models
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/support/base_models.py
Due: none

Added contact to dogbone
  .gitlab-ci.yml
  backend/app/assets/models/Dogbone/Dogbone.json
Due: none

Fixed env file order
  frontend/Dockerfile
Due: none

added step to crackpy
  backend/app/routers/results.py
  backend/app/support/results/crack_analysis.py
  frontend/app/src/components/actions/ViewActions.vue
Due: none
