Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job, build_paraview_job, build_trame_job

test-linux-py3.11:
  before_script:
  - apt update && apt install -y make git
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install -i https://test.pypi.org/simple/ exodusreader
  - pip install -i https://test.pypi.org/simple/ gcodereader
  ...

check-coverage:
  before_script:
  - apt update && apt install -y make git
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install -i https://test.pypi.org/simple/ exodusreader
  - pip install -i https://test.pypi.org/simple/ gcodereader
  ...

check-code:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-code
  artifacts:
    when: on_failure
    expose_as: Linter Report
    paths:
    - backend/app/build/flake8.txt

check-formatting:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-formatting

build_backend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_frontend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

added perilab
  backend/app/Verification/verification_models.py
  backend/app/api_main.py
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/models/Smetana/smetana.py
  backend/app/routers/delete.py
  backend/app/routers/jobs.py
  backend/app/routers/logging.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/sbatch_writer.py
  backend/app/support/writer/xml_writer.py
  backend/app/support/writer/yaml_writer.py
  backend/app/support/writer/yaml_writer_peridigm.py
  backend/app/support/writer/yaml_writer_perilab.py
  docker-compose.yml
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed yaml writer
  .gitlab-ci.yml
  backend/app/support/writer/yaml_writer_peridigm.py
  backend/app/support/writer/yaml_writer_perilab.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Edited perilab entries
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/support/base_models.py
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Output.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added renewable page
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/quasar.config.js
  frontend/app/src/boot/chartkick.js
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/views/RenewableView.vue
Due: build_frontend_job

added energy saving mode
  backend/app/api_main.py
  backend/app/routers/energy.py
  backend/app/support/base_models.py
  frontend/app/src/boot/chartkick.js
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/views/RenewableView.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/stores/default-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Remove tab if switched off
  frontend/app/src/components/ViewComp.vue
Due: build_frontend_job

fixed checkEnergy
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

update yaml writer
  backend/app/support/writer/yaml_writer_peridigm.py
  backend/app/support/writer/yaml_writer_perilab.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed nodesets for PeriLab
  backend/app/Verification/verification_models.py
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/support/writer/model_writer.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

added twod options and header
  backend/app/Verification/verification_models.py
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added perilab input args
  backend/app/support/writer/yaml_writer_perilab.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed writer
  backend/app/routers/model.py
  backend/app/support/writer/yaml_writer_peridigm.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/views/ModelView.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

updated smetana
  backend/app/models/Smetana/smetana.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed smetana model
  backend/app/models/Smetana/smetana.py
  backend/app/routers/generate.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed smetana path
  backend/app/models/Smetana/smetana.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

update mesh for perilab
  backend/app/Verification/verification_models.py
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

added selectedFileType
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/support/base_models.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed format
  backend/app/support/writer/model_writer.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Fixed errors and edit horizon
  backend/app/Verification/verification_models.py
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/support/writer/yaml_writer_peridigm.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/Material.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed Kathoff-Winkler
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

added RingOnRing model
  backend/app/assets/models/RingOnRing/RingOnRing.jpg
  backend/app/assets/models/RingOnRing/RingOnRing.jpg.license
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/assets/models/RingOnRing/RingOnRing.json.license
  backend/app/models/RingOnRing/RingOnRing.md
  backend/app/models/RingOnRing/RingOnRing.pub
  backend/app/models/RingOnRing/RingOnRing.pub.license
  backend/app/models/RingOnRing/__init__.py
  backend/app/models/RingOnRing/ring_on_ring.py
  backend/app/routers/generate.py
  backend/app/support/base_models.py
  backend/app/support/model/geometry.py
  backend/app/support/writer/sbatch_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  docker-compose.yml
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

optimized perilab support
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/models/RingOnRing/ring_on_ring.py
  backend/app/routers/generate.py
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

finished RingOnRing model
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/models/RingOnRing/ring_on_ring.py
  backend/app/support/base_models.py
  backend/app/support/model/geometry.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added anistropicDamage
  backend/app/models/CompactTension/compact_tension.py
  backend/app/routers/generate.py
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed ENFmodel
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Material.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

removed paraview and trame
  docker-compose.yml
Due: none

edit CD and routing
  .gitlab-ci.yml
  backend/app/api_main.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/quasar.config.js
  frontend/app/src/boot/axios.js
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/views/ImageView.vue
  frontend/app/src/css/quasar.variables.scss
  frontend/app/src/layouts/MainFooter.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/pages/AccessibilityPage.vue
  frontend/app/src/pages/CopyrightPage.vue
  frontend/app/src/pages/ImpressumPage.vue
  frontend/app/src/pages/LandingPage.vue
  frontend/app/src/pages/PrivacyPage.vue
  frontend/app/src/router/routes.js
  frontend/app/src/stores/default-store.js
  frontend/app/src/stores/view-store.js
  frontend/nginx.conf
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit readme
  README.md
Due: none

fixed formatting
  backend/app/models/Dogbone/dogbone.py
  backend/app/routers/jobs.py
  frontend/app/src/pages/guide/FaqPage.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added CAD view and stl reader
  .env.example
  backend/Dockerfile
  backend/app/api_main.py
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/models/Smetana/smetana.py
  backend/app/routers/delete.py
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/routers/translate.py
  backend/app/routers/upload.py
  backend/app/support/file_handler.py
  backend/app/support/results/analysis.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/sbatch_writer.py
  backend/app/tests/image_export/test_image_export.py
  backend/requirements.txt
  docker-compose.yml
  docker-stack-extern.yml
  docker-stack.yml
  frontend/app/package-lock.json
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/views/CadView.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added obj reader and remove guide
  backend/Dockerfile
  backend/app/api_main.py
  backend/app/routers/translate.py
  backend/app/support/globals.py
  backend/app/support/model/meshing.py
  frontend/app/package-lock.json
  frontend/app/src/components/GuideDrawer.vue
  frontend/app/src/components/TextComp.vue
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/layouts/GuideLayout.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/pages/LandingPage.vue
  frontend/app/src/pages/PeriHub.vue
  frontend/app/src/pages/Publications.vue
  frontend/app/src/pages/guide/ButtonPage.vue
  frontend/app/src/pages/guide/FaqPage.vue
  frontend/app/src/pages/guide/GettingStartedPage.vue
  frontend/app/src/pages/guide/IntroductionPage.vue
  frontend/app/src/pages/guide/OutputPage.vue
  frontend/app/src/router/routes.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed cicd
  .gitlab-ci.yml
  backend/app/api_main.py
  frontend/app/src/pages/LandingPage.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed job cancel and edit upload
  README.md
  backend/Dockerfile
  backend/app/routers/delete.py
  backend/app/routers/jobs.py
  backend/app/routers/translate.py
  backend/app/routers/upload.py
  backend/requirements.txt
  docker-stack-extern.yml
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Material.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit stacks
  docker-stack-extern.yml
  docker-stack.yml
Due: none

Fixed cicd
  .gitlab-ci.yml
  README.md
  backend/app/pyproject.toml
  backend/app/routers/jobs.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/quasar.config.js
  frontend/app/src/pages/LandingPage.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Path conditions:
  test-linux-py3.11: any of: backend/**/*
  check-coverage: any of: backend/**/*
  check-code: any of: backend/**/*
  check-formatting: any of: backend/**/*
  build_backend_job: any of: backend/**/*
  build_frontend_job: any of: frontend/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
