Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pylint, unit_test, build_api_job, build_gui_job, build_cron_job, build_paraview_job, build_trame_job

flake8:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install flake8 flake8-junit-report
  - cd api/app
  script:
  - flake8 --output-file=flake8.txt
  - flake8_junit flake8.txt flake8_junit.xml
  artifacts:
    when: always
    reports:
  ...

pylint:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pylint pylint-junit
  - cd api/app
  script:
  - pylint --output-format=junit:pylint.xml *
  artifacts:
    when: always
    reports:
      junit: api/app/pylint.xml

unit_test:
  stage: Test
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pytest
  - cd api/app
  script:
  - python3 -m pytest -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/app/report.xml

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

added enfModel
  api/Dockerfile
  api/app/api_main.py
  api/app/models/ENFmodel/enf_model.py
  api/app/support/crack_analysis.py
  api/app/support/xml_creator.py
  gui/app/src/assets/models/ENFmodel/ENFmodel.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added guide page
  quasar-gui/package-lock.json
  quasar-gui/package.json
  quasar-gui/src/boot/vtk.js
  quasar-gui/src/components/FileUpload.vue
  quasar-gui/src/components/GuideDrawer.vue
  quasar-gui/src/components/ModelActions.vue
  quasar-gui/src/components/ViewComp.vue
  quasar-gui/src/components/expansions/Model.vue
  quasar-gui/src/components/views/ModelView.vue
  quasar-gui/src/components/views/PlotlyView.vue
  quasar-gui/src/layouts/MainLayout.vue
  quasar-gui/src/pages/GuidePage.vue
  quasar-gui/src/pages/PeriHub.vue
  quasar-gui/src/router/routes.js
  quasar-gui/src/stores/model-store.js
  quasar-gui/src/stores/view-store.js
Due: none

added all SettingsPanels
  quasar-gui/package.json
  quasar-gui/quasar.config.js
  quasar-gui/src/components/ExpansionComp.vue
  quasar-gui/src/components/expansions/Blocks.vue
  quasar-gui/src/components/expansions/BondFilters.vue
  quasar-gui/src/components/expansions/BoundaryConditions.vue
  quasar-gui/src/components/expansions/Contact.vue
  quasar-gui/src/components/expansions/Damage.vue
  quasar-gui/src/components/expansions/Job.vue
  quasar-gui/src/components/expansions/Material.vue
  quasar-gui/src/components/expansions/Model.vue
  quasar-gui/src/components/expansions/Output.vue
  quasar-gui/src/components/expansions/Solver.vue
  quasar-gui/src/components/views/ModelView.vue
  quasar-gui/src/layouts/MainLayout.vue
  quasar-gui/src/pages/LandingPage.vue
  quasar-gui/src/pages/PeriHub.vue
  quasar-gui/src/stores/default-store.js
  quasar-gui/src/stores/view-store.js
  quasar-gui/src/utils/functions.js
Due: none

added view components
  quasar-gui/package-lock.json
  quasar-gui/package.json
  quasar-gui/src/components/TextComp.vue
  quasar-gui/src/components/ViewComp.vue
  quasar-gui/src/components/actions/ModelActions.vue
  quasar-gui/src/components/actions/TextActions.vue
  quasar-gui/src/components/actions/ViewActions.vue
  quasar-gui/src/components/views/ImageView.vue
  quasar-gui/src/components/views/TextView.vue
  quasar-gui/src/css/quasar.variables.scss
  quasar-gui/src/layouts/MainLayout.vue
  quasar-gui/src/pages/PeriHub.vue
  quasar-gui/src/stores/default-store.js
  quasar-gui/src/stores/view-store.js
Due: none

removed john doe
  .gitlab-ci.yml
  quasar-gui/app/src/components/ExpansionComp.vue
  quasar-gui/app/src/components/GuideDrawer.vue
Due: none

changed gui image
  .gitlab-ci.yml
  quasar-gui/app/src/components/GuideDrawer.vue
Due: none

fixed api url
  quasar-gui/app/package-lock.json
  quasar-gui/app/package.json
  quasar-gui/app/src/boot/axios.js
Due: none

removed smetana env and added authtoken
  .gitlab-ci.yml
  README.md
  api/Dockerfile
  api/app/guides/GettingStarted.md
  api/app/guides/Introduction.md
  api/app/support/file_handler.py
  docker-compose.yml
  quasar-gui/app/src/components/ExpansionComp.vue
  quasar-gui/app/src/components/TextComp.vue
  quasar-gui/app/src/components/ViewComp.vue
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/views/ModelView.vue
  quasar-gui/app/src/pages/GuidePage.vue
  quasar-gui/app/src/pages/PeriHub.vue
  quasar-gui/app/src/pages/Publications.vue
  quasar-gui/app/src/stores/default-store.js
Due: flake8, pylint, unit_test, build_api_job

fixed authToken and added localstorage
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/expansions/Model.vue
  quasar-gui/app/src/components/views/ImageView.vue
  quasar-gui/app/src/components/views/ModelView.vue
  quasar-gui/app/src/layouts/MainLayout.vue
  quasar-gui/app/src/stores/default-store.js
  quasar-gui/app/src/stores/model-store.js
Due: none

fixed header token
  quasar-gui/app/src/stores/default-store.js
Due: none

optimized outputselection and added driver.js
  api/app/support/base_models.py
  api/app/support/file_handler.py
  api/app/support/xml_creator.py
  quasar-gui/app/package-lock.json
  quasar-gui/app/package.json
  quasar-gui/app/src/assets/models/CompactTension/CompactTension.json
  quasar-gui/app/src/assets/models/DCBmodel/DCBmodel.json
  quasar-gui/app/src/assets/models/Dogbone/Dogbone.json
  quasar-gui/app/src/assets/models/ENFmodel/ENFmodel.json
  quasar-gui/app/src/assets/models/GICmodel/GICmodel.json
  quasar-gui/app/src/assets/models/GIICmodel/GIICmodel.json
  quasar-gui/app/src/assets/models/KICmodel/KICmodel.json
  quasar-gui/app/src/assets/models/KIICmodel/KIICmodel.json
  quasar-gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  quasar-gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  quasar-gui/app/src/assets/models/Smetana/Smetana.json
  quasar-gui/app/src/components/ExpansionComp.vue
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Blocks.vue
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/expansions/BoundaryConditions.vue
  quasar-gui/app/src/components/expansions/Contact.vue
  quasar-gui/app/src/components/expansions/Damage.vue
  quasar-gui/app/src/components/expansions/Job.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Model.vue
  quasar-gui/app/src/components/expansions/Output.vue
  quasar-gui/app/src/components/expansions/Solver.vue
  quasar-gui/app/src/components/tools/ConversionCard.vue
  quasar-gui/app/src/components/tools/SiConversionCard.vue
  quasar-gui/app/src/pages/PeriHub.vue
  quasar-gui/app/src/stores/model-store.js
Due: flake8, pylint, unit_test, build_api_job

fixed cicd tests?
  .gitlab-ci.yml
Due: none

fixed cicd?
  .gitlab-ci.yml
  api/app/support/geometry.py
Due: flake8, pylint, unit_test, build_api_job

artifacts?
  .gitlab-ci.yml
  api/app/support/geometry.py
Due: flake8, pylint, unit_test, build_api_job

fixed trame call
  .gitlab-ci.yml
  quasar-gui/app/quasar.config.js
  quasar-gui/app/src/boot/axios.js
  quasar-gui/app/src/components/actions/ViewActions.vue
  trame/app/api_main.py
Due: build_trame_job

fixed trame header
  quasar-gui/app/src/stores/default-store.js
Due: none

Fixed get dx and triangulate
  api/app/api_main.py
  api/app/support/image_export.py
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/views/ModelView.vue
Due: flake8, pylint, unit_test, build_api_job

fixed tests?
  .gitlab-ci.yml
Due: none

Try pipeline
  api/app/support/model_writer.py
Due: flake8, pylint, unit_test, build_api_job

fixed q-select
  .gitlab-ci.yml
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Blocks.vue
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/expansions/BoundaryConditions.vue
  quasar-gui/app/src/components/expansions/Contact.vue
  quasar-gui/app/src/components/expansions/Damage.vue
  quasar-gui/app/src/components/expansions/Output.vue
Due: none

Fixed gcode uploading
  api/app/api_main.py
  api/app/models/Dogbone/dogbone.py
  api/app/support/globals.py
  quasar-gui/app/src/components/actions/ModelActions.vue
Due: flake8, pylint, unit_test, build_api_job

Fixed pipeline
  .gitlab-ci.yml
  api/app/models/Dogbone/dogbone.py
  quasar-gui/app/src/components/actions/ModelActions.vue
Due: flake8, pylint, unit_test, build_api_job

retry api pipeline
  api/app/api_main.py
  api/app/models/Dogbone/dogbone.py
Due: flake8, pylint, unit_test, build_api_job

fixed translate call
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

fixed meshfile name
  quasar-gui/app/src/components/actions/ModelActions.vue
Due: none

fixed gcodereader
  api/app/api_main.py
  quasar-gui/app/src/components/actions/ModelActions.vue
  quasar-gui/app/src/components/expansions/Blocks.vue
  quasar-gui/app/src/stores/view-store.js
Due: flake8, pylint, unit_test, build_api_job

Fixed local external mode
  .gitlab-ci.yml
  README.md
  api/Dockerfile
  api/app/api_main.py
  api/app/guides/GettingStarted.md
  api/app/guides/Introduction.md
  api/requirements.txt
  docker-compose.yml
  quasar-gui/Dockerfile
  quasar-gui/app/.env.local
  quasar-gui/app/.env.production
  quasar-gui/app/package-lock.json
  quasar-gui/app/package.json
  quasar-gui/app/quasar.config.js
  trame/Dockerfile
Due: flake8, pylint, unit_test, build_api_job, build_trame_job

fixed gui pipeline
  quasar-gui/Dockerfile
  quasar-gui/app/quasar.config.js
Due: none

Fixed Dogbone and added margin to select
  gui/app/src/assets/models/Dogbone/Dogbone.json
  quasar-gui/app/src/components/ExpansionComp.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Blocks.vue
  quasar-gui/app/src/components/expansions/BondFilters.vue
  quasar-gui/app/src/components/expansions/BoundaryConditions.vue
  quasar-gui/app/src/components/expansions/Job.vue
  quasar-gui/app/src/components/expansions/Model.vue
  quasar-gui/app/src/components/expansions/Output.vue
  quasar-gui/app/src/components/tools/ConversionCard.vue
  quasar-gui/app/src/components/tools/SiConversionCard.vue
Due: build_gui_job

added additive material
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  api/app/support/base_models.py
  api/app/support/model_writer.py
  api/app/support/sbatch_creator.py
  api/app/support/xml_creator.py
  api/app/support/yaml_creator.py
  docker-compose.yml
  quasar-gui/app/src/components/ExpansionComp.vue
  quasar-gui/app/src/components/expansions/Additive.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/stores/model-store.js
  trilinos/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

added thermal options and fixed a few bugs
  api/Dockerfile
  api/app/api_main.py
  api/app/models/Dogbone/dogbone.py
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  quasar-gui/app/src/components/actions/TextActions.vue
  quasar-gui/app/src/components/actions/ViewActions.vue
  quasar-gui/app/src/components/expansions/Blocks.vue
  quasar-gui/app/src/components/expansions/Material.vue
  quasar-gui/app/src/components/expansions/Solver.vue
  quasar-gui/app/src/stores/model-store.js
Due: flake8, pylint, unit_test, build_api_job

added 3d plot options
  .pre-commit-config.yaml
  api/app/api_main.py
  api/app/support/image_export.py
  quasar-gui/app/src/components/actions/ViewActions.vue
Due: flake8, pylint, unit_test, build_api_job

fixed model_data argument
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  quasar-gui/app/src/components/actions/ViewActions.vue
  trame/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job, build_trame_job

Fixed displ check
  api/app/support/image_export.py
Due: flake8, pylint, unit_test, build_api_job

used python 3.11 in cicd
  .gitlab-ci.yml
  api/Dockerfile
  trame/Dockerfile
Due: flake8, pylint, unit_test, build_api_job, build_trame_job

removed monitorstatus and triangulate
  api/app/support/file_handler.py
  api/app/support/image_export.py
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  quasar-gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  quasar-gui/app/src/components/actions/ViewActions.vue
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed image export
  api/app/support/image_export.py
  quasar-gui/app/src/assets/models/Dogbone/Dogbone.json
Due: flake8, pylint, unit_test, build_api_job

Path conditions:
  flake8: any of: api/**/*
  pylint: any of: api/**/*
  unit_test: any of: api/**/*
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
