Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job, build_paraview_job, build_trame_job

test-linux-py3.11:
  before_script:
  - apt update && apt install -y make git
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install -i https://test.pypi.org/simple/ exodusreader
  - pip install -i https://test.pypi.org/simple/ gcodereader
  ...

check-coverage:
  before_script:
  - apt update && apt install -y make git
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install -i https://test.pypi.org/simple/ exodusreader
  - pip install -i https://test.pypi.org/simple/ gcodereader
  ...

check-code:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-code
  artifacts:
    when: on_failure
    expose_as: Linter Report
    paths:
    - backend/app/build/flake8.txt

check-formatting:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-formatting

build_backend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_frontend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
  - docker logout
  stage: build
  script:
  ...

Fixed inp prop upload
  frontend/app/src/components/expansions/Material.vue
Due: build_frontend_job

added stopAfterCertainDamage
  backend/app/support/base_models.py
  backend/app/support/writer/xml_writer.py
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

updated readme
  README.md
Due: none

Added ownModel
  backend/app/assets/models/OwnModel/OwnModel.jpg
  backend/app/assets/models/OwnModel/OwnModel.jpg.license
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/OwnModel/OwnModel.json.license
  frontend/app/src/components/expansions/Model.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed ownModel
  backend/app/models/OwnModel/own_model.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added copyright to footer
  frontend/app/src/layouts/MainFooter.vue
Due: build_frontend_job

moved to structuredClone
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/stores/model-store.js
Due: build_frontend_job

Removed reset on model change
  frontend/app/src/components/expansions/Model.vue
Due: build_frontend_job

using dockerhub
  .gitlab-ci.yml
  .reuse/dep5
  docker-compose.yml
Due: none

Run pipeline
  .gitlab-ci.yml
  backend/app/.pylintrc
  backend/app/pyproject.toml
  backend/app/support/writer/sbatch_writer.py
  frontend/app/src/layouts/MainFooter.vue
  paraview/Dockerfile
  trame/app/main.py
  trame/app/venv.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job, build_paraview_job, build_trame_job

line_length = 120
  backend/app/pyproject.toml
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

removed comments
  backend/app/api_main.py
  frontend/app/src/components/expansions/Job.vue
  paraview/Dockerfile
  trame/app/venv.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job, build_paraview_job, build_trame_job

sbatch
  backend/app/support/writer/sbatch_writer.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

pipeline
  frontend/app/src/components/EssentialLink.vue
  paraview/Dockerfile
  trame/app/support/globals.py
Due: build_frontend_job, build_paraview_job, build_trame_job

Removed environment.yaml
  backend/environment.yaml
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Removed badges
  README.md
Due: none

updated Readme
  README.md
  docker-compose.yml
Due: none

added calculate stiffnessmatrix
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/models/ENFmodel/enf_model.py
  backend/app/support/base_models.py
  backend/app/support/writer/xml_writer.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/tools/StiffnessCard.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/pages/Tools.vue
  frontend/app/src/stores/model-store.js
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed test
  backend/app/Verification/verification_models.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Fixed tests
  backend/app/support/model/material.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Edit README.md #1
  README.md
Due: none

added ci templates
  .gitlab-ci.yml
Due: none

added container scanning
  .gitlab-ci.yml
Due: none

removed container scanning
  .gitlab-ci.yml
Due: none

exouds and gcodereader moved
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/app/routers/translate.py
  backend/app/support/export/image_export.py
  backend/app/support/export/video_export.py
  backend/app/support/results/analysis.py
  backend/app/support/results/crack_analysis.py
  backend/requirements.txt
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Updated readme
  README.md
Due: none

Removed cara cluster
  frontend/app/src/components/expansions/Job.vue
Due: build_frontend_job

fixed base model
  backend/app/support/base_models.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Remvoed optional data
  backend/app/support/base_models.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Removed optional data
  backend/app/support/base_models.py
  backend/app/support/writer/xml_writer.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed base model
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/support/base_models.py
  backend/app/support/writer/xml_writer.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Fixed base model
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/support/base_models.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

moved properties
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

added enf_analysis
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/results/analysis.py
  backend/app/support/results/crack_analysis.py
  frontend/app/src/components/actions/ViewActions.vue
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed crack analysis
  backend/app/support/results/crack_analysis.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Fixed readme
  README.md
  backend/app/guides/Introduction.md
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Edit readme
  README.md
  backend/app/guides/Introduction.md
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

fixed get_jobs error
  backend/app/routers/jobs.py
Due: test-linux-py3.11, check-coverage, check-code, check-formatting, build_backend_job

Path conditions:
  test-linux-py3.11: any of: backend/**/*
  check-coverage: any of: backend/**/*
  check-code: any of: backend/**/*
  check-formatting: any of: backend/**/*
  build_backend_job: any of: backend/**/*
  build_frontend_job: any of: frontend/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
