Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pylint, unit_test, build_api_job, build_gui_job, build_cron_job, build_paraview_job, build_trame_job

flake8:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install flake8 flake8-junit-report
  - cd api/app
  script:
  - flake8 --output-file=flake8.txt
  - flake8_junit flake8.txt flake8_junit.xml
  artifacts:
    when: always
    reports:
  ...

pylint:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pylint pylint-junit
  - cd api/app
  script:
  - pylint --output-format=junit:pylint.xml *
  artifacts:
    when: always
    reports:
      junit: api/app/pylint.xml

unit_test:
  stage: Test
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pytest
  - cd api/app
  script:
  - python3 -m pytest -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/app/report.xml

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

changed default job time
  api/app/support/base_models.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/assets/models/GICmodel/GICmodel.json
  gui/app/src/assets/models/GIICmodel/GIICmodel.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/script.js
  shepard/shepard_edit.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

switched to node 16
  gui/Dockerfile
Due: build_gui_job

added asyncio
  api/app/api_main.py
  api/requirements.txt
Due: flake8, pylint, unit_test, build_api_job

added missing outputs
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed peridigm log
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

added missing putputs
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

added crackpy
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/support/fracture_analysis.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed crackpy import
  api/app/api_main.py
  api/app/support/crack_analysis.py
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added von mises and eqv plast strain
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added criticalEnergyCalc
  api/app/support/base_models.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/assets/models/GICmodel/GICmodel.json
  gui/app/src/assets/models/GIICmodel/GIICmodel.json
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added Smetana Api
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
Due: build_gui_job

added Smetana Api
  api/Dockerfile
  api/app/models/Smetana/smetana.py
  compareExodus.py
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

removed paraView from api
  api/Dockerfile
  api/app/api_main.py
  api/app/support/read.bat
  api/app/support/read.sh
  docker-compose.yml
Due: flake8, pylint, unit_test, build_api_job

added converison
  gui/app/src/components/Tools.vue
Due: build_gui_job

added KIICmodel
  api/app/api_main.py
  api/app/models/KIICmodel/KIICmodel.md
  api/app/models/KIICmodel/KIICmodel.pub
  api/app/models/KIICmodel/__init__.py
  api/app/models/KIICmodel/kiic_model.py
  gui/app/src/assets/models/KIICmodel/KIICmodel.jpg
  gui/app/src/assets/models/KIICmodel/KIICmodel.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added exodusreader package
  api/app/support/analysis.py
  api/app/support/image_export.py
  api/app/support/video_export.py
  shepard/shepard_timeseries.py
Due: flake8, pylint, unit_test, build_api_job

added von mises stress
  api/app/support/base_models.py
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

optimized crackpy call
  api/app/support/crack_analysis.py
Due: flake8, pylint, unit_test, build_api_job

optimized crack analysis and trame
  api/app/api_main.py
  api/app/support/crack_analysis.py
  gui/app/src/components/script.js
  trame/Dockerfile
  trame/app/main.py
  trame/app/support/globals.py
  trame/requirements.txt
Due: flake8, pylint, unit_test, build_api_job, build_gui_job, build_trame_job

added kic_model and reduced image size
  api/Dockerfile
  api/app/api_main.py
  api/app/models/KICmodel/KICmodel.md
  api/app/models/KICmodel/KICmodel.pub
  api/app/models/KICmodel/__init__.py
  api/app/models/KICmodel/kic_model.py
  api/app/support/crack_analysis.py
  gui/app/src/assets/models/KICmodel/KICmodel.jpg
  gui/app/src/assets/models/KICmodel/KICmodel.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  trame/app/main.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job, build_trame_job

reduced crackpysize
  api/Dockerfile
  api/app/api_main.py
  api/app/support/globals.py
Due: flake8, pylint, unit_test, build_api_job

fixed compact tension model
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/support/crack_analysis.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added notch option
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/support/base_models.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

changed git url
  README.md
  api/app/guides/Introduction.md
Due: flake8, pylint, unit_test, build_api_job

fixed crack analysis
  api/app/support/crack_analysis.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

changed peridigm image url
  docker-compose.yml
Due: none

added image download button
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job

fixed resize
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job

added enf_model
  api/app/models/ENFmodel/ENFmodel.md
  api/app/models/ENFmodel/ENFmodel.pub
  api/app/models/ENFmodel/enf_model.py
  gui/app/src/assets/models/ENFmodel/ENFmodel.jpg
  gui/app/src/assets/models/ENFmodel/ENFmodel.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

changed default models
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/KICmodel/KICmodel.json
  gui/app/src/assets/models/KIICmodel/KIICmodel.json
Due: build_gui_job

added enf model
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job

added nox stopAfterDamageInitation
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

added pre-commit
  .pre-commit-config.yaml
  api/app/Verification/verification_models.py
  api/app/api_main.py
  api/app/dev_models/Atte6b5/atte6b5_tmp.py
  api/app/dev_models/XFEM_Bechnmark/main.py
  api/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/__init__.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
  api/app/support/analysis.py
  api/app/support/base_models.py
  api/app/support/crack_analysis.py
  api/app/support/crack_length.py
  api/app/support/exodus_reader.py
  api/app/support/file_handler.py
  api/app/support/gcode_reader.py
  api/app/support/geometry.py
  api/app/support/gic.py
  api/app/support/globals.py
  api/app/support/image_export.py
  api/app/support/model_writer.py
  api/app/support/test.py
  api/app/support/video_export.py
  trame/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job, build_trame_job

moved pages
  gui/app/src/components/Mindmap.vue
  gui/app/src/components/Tools.vue
  gui/app/src/pages/Guide.vue
  gui/app/src/pages/LandingPage.vue
  gui/app/src/pages/LiteratureAnalysis.vue
  gui/app/src/pages/PeriHub.vue
  gui/app/src/pages/Publications.vue
  gui/app/src/pages/script.js
  gui/app/src/pages/script1.js
  gui/app/src/pages/style.css
  gui/app/src/pages/style1.css
  gui/app/src/pages/template.html
  gui/app/src/pages/template1.html
  gui/app/src/routes.js
Due: build_gui_job

fixed a few warnings
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/ENFmodel/enf_model.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KICmodel/kic_model.py
  api/app/models/KIICmodel/kiic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/base_models.py
  api/app/support/gcode_reader.py
  api/app/support/model_writer.py
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

added test pipeline
  .gitlab-ci.yml
Due: none

added badges
  README.md
Due: none

moved tools
  gui/app/src/pages/Tools.vue
Due: build_gui_job

fixed api
  api/app/support/base_models.py
Due: flake8, pylint, unit_test, build_api_job

Path conditions:
  flake8: any of: api/**/*
  pylint: any of: api/**/*
  unit_test: any of: api/**/*
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
