Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - audit
  - build

.install-deps-template: &install-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
    - pip install -r backend/requirements.txt
    - pip install -r backend/requirements-dev.txt
    - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
    - cd backend/app

# .test-template: &test
#   <<: *install-deps
#   stage: test
#   script: make test
#   tags:
#     - docker
#   except:
#     - tags
#   artifacts:
#     when: always
#     reports:
#       junit: backend/app/build/tests.xml

# test-linux-py3.11:
#   image: python:3.11-slim
#   <<: *test

check-coverage:
  image: python:3.11-slim
  <<: *install-deps
  script:
    - make check-coverage
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    when: always
    expose_as: "Coverage Report"
    paths:
      - backend/app/build/html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/app/build/coverage.xml

.install-dev-deps-template: &install-dev-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make
    - pip install -r backend/requirements-dev.txt
    - cd backend/app

.audit-template: &audit
  <<: *install-dev-deps
  image: python:3.11-slim
  stage: audit
  tags:
    - docker
  except:
    - tags

check-code:
  <<: *audit
  script:
    - make check-code
  artifacts:
    when: on_failure
    expose_as: "Linter Report"
    paths: ["backend/app/build/flake8.txt"]

check-formatting:
  <<: *audit
  script:
    - make check-formatting

build_backend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - backend/**/*
  script:
    - docker build -t perihub/backend backend/.
    - docker push perihub/backend

build_frontend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - frontend/**/*
  script:
    - docker build -t perihub/frontend frontend/.
    - docker push perihub/frontend

# build_paraview_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - paraview/**/*
#   script:
#     - docker build -t perihub/paraview paraview/.
#     - docker push perihub/paraview

# build_trame_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - trame/**/*
#   script:
#     - docker build -t perihub/trame trame/.
#     - docker push perihub/trame

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

Fix button padding
  frontend/app/src/components/views/ResultsView.vue
Due: build_frontend_job

Optimized Models Page
  backend/app/routers/results.py
  backend/app/support/writer/sbatch_writer.py
  frontend/app/src/assets/rules.js
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/stores/default-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added Transverse Isotropic
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Material.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

csv and disc type handling
  backend/app/routers/jobs.py
  backend/app/support/file_handler.py
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  backend/app/routers/results.py
  backend/app/support/writer/model_writer.py
  backend/requirements.txt
  frontend/app/package-lock.json
  frontend/app/src/assets/rules.js
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

increased default MAX_NODES
  backend/app/support/globals.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added deviations.file
  backend/app/support/base_models.py
  backend/app/support/writer/model_writer.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Deviations.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added test_getPlot
  backend/app/tests/image_export/test_image_export.py
Due: check-coverage, check-code, check-formatting, build_backend_job

optimized crack length for DIN6033
  backend/app/support/results/crack_analysis.py
Due: check-coverage, check-code, check-formatting, build_backend_job

removed json from deviations input
  backend/app/support/base_models.py
  backend/app/support/writer/model_writer.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Deviations.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed deviation import
  backend/app/support/base_models.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added exodus file tyoe
  frontend/app/src/components/actions/ModelActions.vue
Due: build_frontend_job

refac
  backend/app/routers/upload.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added application/x-netcdf mime type
  backend/app/routers/upload.py
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  frontend/app/.npmrc
  frontend/app/package-lock.json
Due: build_frontend_job

refac
  frontend/app/package-lock.json
Due: build_frontend_job

refac
  .github/workflows/CI.yml
  frontend/app/package-lock.json
Due: build_frontend_job

pnpm and minor fixes
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/app/package.json
  frontend/app/patches/vue-vtk-js+3.3.1.patch
  frontend/app/patches/vue-vtk-js+3.3.4.patch
  frontend/app/pnpm-lock.yaml
  frontend/app/src/components/expansions/Deviations.vue
  frontend/app/src/pages/LandingPage.vue
Due: build_frontend_job

update prism
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/pages/Models.vue
Due: build_frontend_job

prism fix
  frontend/app/src/pages/Models.vue
Due: build_frontend_job

prism fix
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/TextView.vue
  frontend/app/src/pages/Models.vue
Due: build_frontend_job

prism fix
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/views/LogView.vue
Due: build_frontend_job

prism fix
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/quasar.config.ts
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/views/LogView.vue
Due: build_frontend_job

prism fix
  frontend/app/package-lock.json
Due: build_frontend_job

prism fix
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/TextView.vue
Due: build_frontend_job

Fixed update endpoint
  backend/app/main.py
Due: check-coverage, check-code, check-formatting, build_backend_job

add claude.md
  CLAUDE.md
Due: none

added ResultsView
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  src/lib/components/ViewComp.svelte
  src/lib/components/tools/StiffnessCard.svelte
  src/lib/components/views/CodeBlock.svelte
  src/lib/components/views/JobsView.svelte
  src/lib/components/views/ModelView.svelte
  src/lib/components/views/ResultsView.svelte
  src/lib/components/views/VerticalColoredLegend.svelte
  src/routes/perihub/+page.svelte
  vite.config.ts
Due: check-coverage, check-code, check-formatting, build_backend_job

Added progressbar and plot
  backend/app/logs/usage.jsonl
  backend/app/routers/jobs.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  package.json
  src/app.css
  src/lib/client/types.gen.ts
  src/lib/components/TextComp.svelte
  src/lib/components/ViewComp.svelte
  src/lib/components/tools/AmplitudeCard.svelte
  src/lib/components/ui/ProgressBar.svelte
  src/lib/components/views/ChartView.svelte
  src/lib/components/views/JobsView.svelte
  src/lib/components/views/ResultsView.svelte
  src/lib/components/views/SeriesLineChart.svelte
  src/lib/components/views/VerticalColoredLegend.svelte
  src/lib/stores/view-store.svelte.ts
  src/lib/utils/progress.ts
  src/routes/+layout.svelte
  src/routes/perihub/+page.svelte
  vite.config.ts
Due: check-coverage, check-code, check-formatting, build_backend_job

Add resizer
  src/lib/components/views/JobsView.svelte
  src/routes/perihub/+page.svelte
Due: none

Fixed resultsview
  backend/app/routers/results.py
  package-lock.json
  package.json
  src/lib/components/three/BondFilterPlanes.svelte
  src/lib/components/three/CameraRig.svelte
  src/lib/components/three/ModelScene.svelte
  src/lib/components/three/ModelSceneContent.svelte
  src/lib/components/three/Scene.svelte
  src/lib/components/three/SphereCloud.svelte
  src/lib/components/three/colorTransfer.ts
  src/lib/components/views/ModelView.svelte
  src/lib/components/views/PlotlyChart.svelte
  src/lib/components/views/ResultsScene.svelte
  src/lib/components/views/ResultsView.svelte
  src/lib/components/views/VerticalColoredLegend.svelte
Due: check-coverage, check-code, check-formatting, build_backend_job

Fixed plotting
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  eslint.config.js
  package-lock.json
  package.json
  src/lib/client/schemas.gen.ts
  src/lib/client/types.gen.ts
  src/lib/components/SchemaForm.svelte
  src/lib/components/actions/ViewActions.svelte
  src/lib/components/expansions/Solver.svelte
  src/lib/components/ui/Input.svelte
  src/lib/components/views/SeriesLineChart.svelte
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  .gitignore
  backend/app/Verification/__init__.py
  backend/app/Verification/verification_models.py
  backend/app/main.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/model/geometry.py
  backend/app/support/model/material.py
  backend/app/support/model/rve.py
  backend/app/support/solver_backend.py
  docker-compose.yml
  package-lock.json
  src/lib/stores/auth-store.svelte.ts
  src/lib/stores/view-store.svelte.ts
  src/lib/utils/notify.ts
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  Dockerfile
  backend/app/support/solver_backend.py
  package-lock.json
  package.json
  src/lib/components/views/PlotlyChart.svelte
  src/lib/components/views/PlotlyView.svelte
  src/lib/components/views/ResultsView.svelte
  vite.config.ts
Due: check-coverage, check-code, check-formatting, build_backend_job

optimzed job handling
  backend/app/logs/usage.jsonl
  backend/app/main.py
  backend/app/routers/jobs.py
  backend/app/support/file_handler.py
  backend/app/support/globals.py
  backend/app/support/solver_backend.py
  backend/app/support/writer/sbatch_writer.py
  backend/requirements.txt
  docker-compose.yml
  src/lib/components/actions/TextActions.svelte
  src/lib/components/actions/ViewActions.svelte
  src/lib/components/expansions/Model.svelte
  src/lib/components/views/LogView.svelte
  src/lib/stores/model-store.svelte.ts
  src/lib/stores/view-store.svelte.ts
  src/lib/utils/modelSync.ts
  src/routes/+layout.svelte
Due: check-coverage, check-code, check-formatting, build_backend_job

Tool and layout fix
  src/lib/components/ViewComp.svelte
  src/lib/components/actions/TextActions.svelte
  src/lib/components/tools/AmplitudeCard.svelte
  src/lib/components/tools/SiConversionCard.svelte
  src/lib/components/views/ResultsView.svelte
  src/lib/stores/model-store.svelte.ts
  src/routes/perihub/+page.svelte
  src/routes/tools/+page.svelte
Due: none

update docs
  docs/FAQ.md
  docs/FirstSimulation.md
  docs/GettingStarted.md
  docs/index.md
  docs/input.md
  docs/input/Additive.md
  docs/input/Blocks.md
  docs/input/BondFilters.md
  docs/input/BoundaryConditions.md
  docs/input/Contact.md
  docs/input/DamageModels.md
  docs/input/Deviations.md
  docs/input/Discretization.md
  docs/input/Job.md
  docs/input/Material.md
  docs/input/Model.md
  docs/input/Output.md
  docs/input/Solver.md
  docs/input/Thermal.md
  docs/models.md
  docs/output.md
  docs/output/Modelview.md
  docs/output/Textview.md
Due: none
