Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - audit
  - build

.install-deps-template: &install-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
    - pip install -r backend/requirements.txt
    - pip install -r backend/requirements-dev.txt
    - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
    - cd backend/app

# .test-template: &test
#   <<: *install-deps
#   stage: test
#   script: make test
#   tags:
#     - docker
#   except:
#     - tags
#   artifacts:
#     when: always
#     reports:
#       junit: backend/app/build/tests.xml

# test-linux-py3.11:
#   image: python:3.11-slim
#   <<: *test

check-coverage:
  image: python:3.11-slim
  <<: *install-deps
  script:
    - make check-coverage
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    when: always
    expose_as: "Coverage Report"
    paths:
      - backend/app/build/html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/app/build/coverage.xml

.install-dev-deps-template: &install-dev-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make
    - pip install -r backend/requirements-dev.txt
    - cd backend/app

.audit-template: &audit
  <<: *install-dev-deps
  image: python:3.11-slim
  stage: audit
  tags:
    - docker
  except:
    - tags

check-code:
  <<: *audit
  script:
    - make check-code
  artifacts:
    when: on_failure
    expose_as: "Linter Report"
    paths: ["backend/app/build/flake8.txt"]

check-formatting:
  <<: *audit
  script:
    - make check-formatting

build_backend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - backend/**/*
  script:
    - docker build -t perihub/backend backend/.
    - docker push perihub/backend

build_frontend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - frontend/**/*
  script:
    - docker build -t perihub/frontend frontend/.
    - docker push perihub/frontend

# build_paraview_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - paraview/**/*
#   script:
#     - docker build -t perihub/paraview paraview/.
#     - docker push perihub/paraview

# build_trame_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - trame/**/*
#   script:
#     - docker build -t perihub/trame trame/.
#     - docker push perihub/trame

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

Edit inputs
  docker-stack-extern.yml
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
Due: build_frontend_job

added github actions
  .github/workflows/ci.yml
  .gitlab-ci.yml
  docker-stack-extern.yml
  docker-stack.yml
  frontend/app/.gitignore
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright.config.js
  frontend/app/src/stores/default-store.js
  frontend/app/tests/test.spec.js
Due: build_frontend_job

Fixed format bugs
  frontend/app/src/components/TextComp.vue
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/components/views/ImageView.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/PlotlyView.vue
  frontend/app/src/components/views/TextView.vue
  frontend/app/src/pages/PeriHub.vue
  frontend/app/src/pages/Tools.vue
Due: build_frontend_job

Added todo
  README.md
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/stores/default-store.js
Due: build_frontend_job

edit actions
  .github/dependabot.yml
  .github/workflows/pages.yml
  docs/.github/workflows/ci.yml
Due: none

Edit readme
  README.md
Due: none

Refined everything
  .env.example
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/app/api_main.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  docker-compose.yml
  docker-stack.yml
  docs/GettingStarted.md
  frontend/Dockerfile
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/quasar.config.js
  frontend/app/src/boot/keycloak.js
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/PlotlyView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/components/views/TextView.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/pages/AccessibilityPage.vue
  frontend/app/src/pages/ImpressumPage.vue
  frontend/app/src/stores/auth-store.js
  frontend/app/src/stores/default-store.js
  frontend/app/src/stores/view-store.js
  frontend/nginx.conf
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added cluster option
  README.md
  backend/Dockerfile
  backend/app/api_main.py
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/routers/delete.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/globals.py
  backend/app/support/writer/sbatch_writer.py
  docker-compose.yml
  frontend/app/quasar.config.js
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/stores/model-store.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed cluster jobs
  backend/app/models/Smetana/smetana.py
  backend/app/routers/jobs.py
  backend/app/support/file_handler.py
  backend/app/support/globals.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed file_handler
  backend/app/support/file_handler.py
Due: check-coverage, check-code, check-formatting, build_backend_job

Added verbose and fixed envs
  backend/app/support/globals.py
  backend/app/support/writer/sbatch_writer.py
  frontend/app/src/boot/keycloak.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added AmplitudeCard
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/pages/Tools.vue
Due: build_frontend_job

Fixed amplitude
  frontend/app/src/components/tools/AmplitudeCard.vue
Due: build_frontend_job

Edit BC
  backend/app/Verification/verification_models.py
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/stores/model-store.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed tests
  frontend/app/tests/test.spec.js
Due: build_frontend_job

Optimized CT and added BC type
  backend/app/models/CompactTension/compact_tension.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/tools/AmplitudeCard.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed model_writer and edit images
  backend/app/routers/jobs.py
  backend/app/support/writer/model_writer.py
  docker-stack.yml
  frontend/app/src/assets/books.jpg
  frontend/app/src/assets/books.jpg.license
  frontend/app/src/assets/books.png
  frontend/app/src/assets/books.png.license
  frontend/app/src/assets/compass.jpg
  frontend/app/src/assets/compass.jpg.license
  frontend/app/src/assets/compass.png
  frontend/app/src/assets/compass.png.license
  frontend/app/src/assets/images/books.jpg
  frontend/app/src/assets/images/books.jpg.license
  frontend/app/src/assets/math.jpg
  frontend/app/src/assets/math.jpg.license
  frontend/app/src/assets/perilab.png
  frontend/app/src/assets/perilab.png.license
  frontend/app/src/assets/tools.png
  frontend/app/src/assets/tools.png.license
  frontend/app/src/pages/LandingPage.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added calculateVonMises and fixed dogbone
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  docker-compose.yml
  docker-stack-extern.yml
  docker-stack.yml
  frontend/app/quasar.config.js
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/pages/LandingPage.vue
  frontend/app/src/stores/model-store.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added play button and filter
  backend/app/routers/results.py
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/pages/PeriHub.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Changed compact tension model
  backend/app/assets/models/CompactTension/CompactTension.json
  frontend/app/src/components/expansions/Output.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added issue templates
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_doc_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md.license
  docs/FAQ.md
Due: none

Fixed fracture analysis for PeriLab
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/routers/results.py
  backend/app/support/results/crack_analysis.py
  backend/requirements.txt
Due: check-coverage, check-code, check-formatting, build_backend_job

Added enf model and allow contact
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/routers/generate.py
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed tests
  frontend/app/tests/test.spec.js
Due: build_frontend_job

added GICmodel
  backend/app/assets/models/G1Cmodel/G1Cmodel.jpg
  backend/app/assets/models/G1Cmodel/G1Cmodel.jpg.license
  backend/app/assets/models/G1Cmodel/G1Cmodel.json
  backend/app/assets/models/G1Cmodel/G1Cmodel.json.license
  backend/app/assets/models/GICmodel/GICmodel.json
  backend/app/models/G1Cmodel/G1Cmodel.drawio
  backend/app/models/G1Cmodel/G1Cmodel.md
  backend/app/models/G1Cmodel/G1Cmodel.pub
  backend/app/models/G1Cmodel/G1Cmodel.pub.license
  backend/app/models/G1Cmodel/__init__.py
  backend/app/models/G1Cmodel/g1c_model.py
  backend/app/routers/generate.py
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/tools/SiConversionCard.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

changed gic model
  backend/app/assets/models/G1Cmodel/G1Cmodel.json
Due: check-coverage, check-code, check-formatting, build_backend_job

changed imports
  backend/app/Verification/verification_models.py
  backend/app/api_main.py
  backend/app/dev_models/GICmodel/gic_model.py
  backend/app/dev_models/GIICmodel/giic_model.py
  backend/app/dev_models/KICmodel/kic_model.py
  backend/app/dev_models/KIICmodel/kiic_model.py
  backend/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  backend/app/models/CompactTension/compact_tension.py
  backend/app/models/DCBmodel/dcb_model.py
  backend/app/models/Dogbone/dogbone.py
  backend/app/models/ENFmodel/enf_model.py
  backend/app/models/G1Cmodel/g1c_model.py
  backend/app/models/KalthoffWinkler/kalthoff_winkler.py
  backend/app/models/OwnModel/own_model.py
  backend/app/models/PlateWithHole/plate_with_hole.py
  backend/app/models/PlateWithOpening/plate_with_opening.py
  backend/app/models/RingOnRing/ring_on_ring.py
  backend/app/models/Smetana/smetana.py
  backend/app/routers/delete.py
  backend/app/routers/energy.py
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/routers/translate.py
  backend/app/routers/upload.py
  backend/app/support/file_handler.py
  backend/app/support/model/geometry.py
  backend/app/support/model/material.py
  backend/app/support/results/analysis.py
  backend/app/support/results/crack_analysis.py
  backend/app/support/writer/model_writer.py
Due: check-coverage, check-code, check-formatting, build_backend_job

changed backend port
  .github/workflows/CI.yml
  README.md
  backend/Dockerfile
  backend/app/.gitignore
  docker-compose.yml
  frontend/app/quasar.config.js
  frontend/nginx.conf
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added websocket delay
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Edit test config
  frontend/app/playwright.config.js
  frontend/app/playwright.config.ts
Due: build_frontend_job

refac
  frontend/app/playwright.config.ts
Due: build_frontend_job

refac
  frontend/app/tests/test.spec.js
Due: build_frontend_job

adapt for new perilab version
  backend/Dockerfile
  backend/app/api_main.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/writer/yaml_writer_perilab.py
  backend/requirements.txt
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/tests/test.spec.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  backend/app/routers/results.py
Due: check-coverage, check-code, check-formatting, build_backend_job
