Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - audit
  - build

.install-deps-template: &install-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
    - pip install -r backend/requirements.txt
    - pip install -r backend/requirements-dev.txt
    - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
    - cd backend/app

# .test-template: &test
#   <<: *install-deps
#   stage: test
#   script: make test
#   tags:
#     - docker
#   except:
#     - tags
#   artifacts:
#     when: always
#     reports:
#       junit: backend/app/build/tests.xml

# test-linux-py3.11:
#   image: python:3.11-slim
#   <<: *test

check-coverage:
  image: python:3.11-slim
  <<: *install-deps
  script:
    - make check-coverage
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    when: always
    expose_as: "Coverage Report"
    paths:
      - backend/app/build/html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/app/build/coverage.xml

.install-dev-deps-template: &install-dev-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make
    - pip install -r backend/requirements-dev.txt
    - cd backend/app

.audit-template: &audit
  <<: *install-dev-deps
  image: python:3.11-slim
  stage: audit
  tags:
    - docker
  except:
    - tags

check-code:
  <<: *audit
  script:
    - make check-code
  artifacts:
    when: on_failure
    expose_as: "Linter Report"
    paths: ["backend/app/build/flake8.txt"]

check-formatting:
  <<: *audit
  script:
    - make check-formatting

build_backend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - backend/**/*
  script:
    - docker build -t perihub/backend backend/.
    - docker push perihub/backend

build_frontend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - frontend/**/*
  script:
    - docker build -t perihub/frontend frontend/.
    - docker push perihub/frontend

# build_paraview_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - paraview/**/*
#   script:
#     - docker build -t perihub/paraview paraview/.
#     - docker push perihub/paraview

# build_trame_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - trame/**/*
#   script:
#     - docker build -t perihub/trame trame/.
#     - docker push perihub/trame

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

fixed download results
  backend/app/models/Dogbone/Dogbone.json
  backend/app/routers/results.py
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

View first output result file
  frontend/app/src/components/views/ResultsView.vue
Due: build_frontend_job

edit crack analysis
  backend/app/support/results/crack_analysis.py
Due: check-coverage, check-code, check-formatting, build_backend_job

update units
  frontend/app/src/components/tools/SiConversionCard.vue
Due: build_frontend_job

Fixed adding models
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Thermal.vue
Due: build_frontend_job

Added persistent error notification
  frontend/app/src/boot/notify-defaults.ts
  frontend/app/src/components/actions/ModelActions.vue
Due: build_frontend_job

added contact globals
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Contact.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed getResults
  backend/app/routers/results.py
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

fixed model download
  frontend/app/src/components/actions/ModelActions.vue
Due: build_frontend_job

changed dx to sampling
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added default env variables
  .env.example
  .gitignore
  backend/app/.gitignore
  docker-compose.yml
Due: check-coverage, check-code, check-formatting, build_backend_job

added changeable color range #7
  backend/app/routers/results.py
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/views/ResultsView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit readme
  README.md
Due: none

edit env variables
  .gitignore
  backend/app/.gitignore
  docker-compose.yml
Due: check-coverage, check-code, check-formatting, build_backend_job

bump version
  backend/app/pyproject.toml
  frontend/app/package.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Remove outputs for type change
  frontend/app/src/components/expansions/Output.vue
Due: build_frontend_job

removed embedded rve
  backend/app/models/CompactTension/CompactTension.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added Node_Set_Data computeClass
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Thermal.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed logging for mpi and added nearest_point_data calc
  backend/app/main.py
  backend/app/support/file_handler.py
  backend/app/support/globals.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Output.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added tests
  frontend/app/tests/test.spec.js
Due: build_frontend_job

fixed model page and added config template
  backend/app/assets/config_template.json
  backend/app/routers/model.py
  frontend/app/src/pages/Models.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added job folder select
  backend/app/routers/jobs.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/views/JobsView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added dependent view loading
  frontend/app/src/components/views/ResultsView.vue
Due: build_frontend_job

added thickness
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Damage.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed model view after generating
  frontend/app/src/components/views/ModelView.vue
Due: build_frontend_job

refac model
  frontend/app/src/components/expansions/Model.vue
Due: build_frontend_job

edit compact tension
  backend/app/models/CompactTension/CompactTension.json
Due: check-coverage, check-code, check-formatting, build_backend_job

added DCBmodel
  backend/app/models/DCBmodel/DCBmodel.json
  backend/app/models/DCBmodel/DCBmodel.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed submit on cluster
  backend/app/support/writer/sbatch_writer.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed rules
  frontend/app/src/assets/rules.js
Due: build_frontend_job

removed thickness
  frontend/app/src/components/expansions/Material.vue
Due: build_frontend_job

fixed rules
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
Due: build_frontend_job

optimized crack analysis and added energy plot
  backend/app/routers/results.py
  backend/app/support/results/crack_analysis.py
  backend/requirements.txt
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

optimized geometry
  backend/app/support/model/geometry.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed cluster copying
  backend/app/support/file_handler.py
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  backend/app/main.py
  backend/app/models/DCBmodel/__init__.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/TextActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added model tests
  frontend/app/playwright.config.ts
  frontend/app/tests/test.spec.js
Due: build_frontend_job

fixed tests
  backend/app/support/results/crack_analysis.py
  frontend/app/playwright.config.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job
