Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pylint, unit_test, build_api_job, build_gui_job, build_cron_job, build_paraview_job, build_trame_job

flake8:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install flake8 flake8-junit-report
  - cd api/app
  script:
  - flake8 --output-file=flake8.txt
  - flake8_junit flake8.txt flake8_junit.xml
  artifacts:
    when: always
    reports:
  ...

pylint:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pylint pylint-junit
  - cd api/app
  script:
  - pylint --output-format=junit:pylint.xml *
  artifacts:
    when: always
    reports:
      junit: api/app/pylint.xml

unit_test:
  stage: Test
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pytest
  - cd api/app
  script:
  - python3 -m pytest -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/app/report.xml

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

modified calculation of gic kic
  api/app/models/CompactTension/compact_tension.py
  api/app/support/analysis.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed adapt dt
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

added triangulation and gif
  api/app/api_main.py
  api/app/support/exodus_reader.py
  api/app/support/image_export.py
  api/app/support/video_export.py
Due: flake8, pylint, unit_test, build_api_job

test
  api/app/support/test.py
Due: flake8, pylint, unit_test, build_api_job

fixed cara path
  api/app/support/file_handler.py
  api/app/support/sbatch_creator.py
Due: flake8, pylint, unit_test, build_api_job

optimized getPlot and getImage
  api/app/api_main.py
  api/app/support/analysis.py
  api/app/support/exodus_reader.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

new trame version
  trame/app/main.py
Due: build_trame_job

Fixed modelname change
  docker-compose.yml
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/script.js
Due: build_gui_job

fixed a few cara bugs
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/support/file_handler.py
  api/app/support/sbatch_creator.py
Due: flake8, pylint, unit_test, build_api_job

fixed ownModels support and xml translator
  api/app/api_main.py
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  shepard/shepard_edit.py
  shepard/shepard_plot.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

gui dockerfile fix
  gui/Dockerfile
Due: build_gui_job

gui Dokcerfile fix
  gui/Dockerfile
Due: build_gui_job

added smetane 3d
  api/app/api_main.py
  api/app/models/Smetana/smetana.py
  api/app/support/image_export.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

update smetana
  api/app/models/Smetana/smetana.py
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

smetana added ignore_mesh option
  api/app/api_main.py
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

added smetana options
  api/app/api_main.py
  api/app/models/Smetana/smetana.py
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added gmsh package
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

gmsh bug
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

try libgl1-mesa-glx
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

import gmsh libs
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

changed Smetan path
  .vscode/launch.json
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

smetana update
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

fixed dx for smetana
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job

changed boundaryconditons and fixed contact
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/assets/models/GICmodel/GICmodel.json
  gui/app/src/assets/models/GIICmodel/GIICmodel.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  gui/app/src/assets/models/Smetana/Smetana.json
Due: build_gui_job

changed boundarycondition model
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/models/Smetana/smetana.py
Due: flake8, pylint, unit_test, build_api_job

added own meshfile option
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

added thermal and boundary condition options
  api/app/support/base_models.py
  api/app/support/model_writer.py
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

fixed getImage for no displacement
  api/app/support/image_export.py
Due: flake8, pylint, unit_test, build_api_job

added thermal and 3dPrinting options
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job

added close trame button and fixed log
  docker-compose.yml
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  trame/Dockerfile
  trame/app/api_main.py
  trame/app/main.py
  trame/app/support/globals.py
Due: build_gui_job, build_trame_job

fixed trame pipeline
  .gitlab-ci.yml
  trame/app/main.py
Due: build_trame_job

removed meshfile
  api/app/api_main.py
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
Due: flake8, pylint, unit_test, build_api_job

added volume output
  api/app/support/base_models.py
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job

updated shepard smetana
  gui/app/src/assets/models/Smetana/Smetana.json
  shepard/shepard_edit.py
Due: build_gui_job

added shepard permission
  shepard/shepard_permission.py
Due: none

trame ssl test
  trame/Dockerfile
  trame/app/api_main.py
Due: build_trame_job

added sleep to cara run
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

fixed meshfile and added propsupload
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GICmodel/gic_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/file_handler.py
  api/app/support/xml_creator.py
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed nodesetid and added allNodeSet
  api/app/support/base_models.py
  api/app/support/model_writer.py
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

Path conditions:
  flake8: any of: api/**/*
  pylint: any of: api/**/*
  unit_test: any of: api/**/*
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
