Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_job, build_gui_job, build_cron_job, deploy_api_job, deploy_gui_job, deploy_cron_job

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

deploy_api_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_api_image
  - docker container stop periHubApi || true
  ...

deploy_gui_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_gui_image
  - docker container stop periHubGui || true
  ...

deploy_cron_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}cron_image
  - docker container stop periHubCron || true
  ...

added bondfilter
  api/app/apiMain.py
  api/app/support/baseModels.py
  api/app/support/xmlCreator.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

cleaned docker files
  .gitlab-ci.yml
  docker-compose.yml
Due: none

added KalthoffWinkler
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.jpg
  modelGeneratorControl.py
Due: build_gui_job, deploy_gui_job

fixes
  api/app/support/material.py
  gui/app/src/App.vue
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added cara jobid options
  api/app/support/fileHandler.py
Due: build_api_job, deploy_api_job

fixed ci bug and added dev mode
  .gitlab-ci.yml
  api/Dockerfile
  api/app/apiMain.py
  api/app/models/DCBmodel/DCBmodel.py
  api/app/models/Dogbone/Dogbone.py
  api/app/models/GIICmodel/GIICmodel.py
  api/app/models/KalthoffWinkler/KalthoffWinkler.py
  api/app/support/allowedMaxNodes.json
  api/app/support/baseModels.py
  api/app/support/fileHandler.py
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/components/script.js
  modelGeneratorControl.py
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added LiteratureAnalysis
  gui/app/src/App.vue
  gui/app/src/assets/NetworkTest.json
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/LiteratureAnalysis.vue
  gui/app/src/components/script1.js
  gui/app/src/components/style1.css
  gui/app/src/components/template1.html
  gui/app/src/routes.js
Due: build_gui_job, deploy_gui_job

fixed cluster status
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

fixed gui and change image and default options
  gui/app/src/assets/network.jpg
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
  gui/app/src/routes.js
Due: build_gui_job, deploy_gui_job

Fixed node size filter
  gui/app/src/assets/NetworkTest.json
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

added min max node filter and doi button
  gui/app/src/assets/NetworkTest.json
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

added bar plot
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template.html
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

added database functions
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

added cookies and delete options
  api/app/apiMain.py
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added tests and fixed flake8 warnings
  .flake8
  .gitlab-ci.yml
  api/app/Verification/verificationModels.py
  api/app/apiMain.py
  api/app/models/AttF56F/AttF56F.tmp.py
  api/app/models/DCBmodel/DCBmodel.py
  api/app/models/Dogbone/Dogbone.py
  api/app/models/GIICmodel/GIICmodel.py
  api/app/models/KalthoffWinkler/KalthoffWinkler.py
  api/app/models/XFEM_Bechnmark/XFEMdcb.py
  api/app/models/XFEM_Bechnmark/main.py
  api/app/support/fileHandler.py
  api/app/support/geometry.py
  api/app/support/material.py
  api/app/support/modelWriter.py
  api/app/support/sbatchCreator.py
  api/app/support/xmlCreator.py
  api/app/support/yamlCreator.py
  gui/app/src/components/script1.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added requirements
  api/Dockerfile
  api/requirements.txt
Due: build_api_job, deploy_api_job

added reports
  .flake8
  .gitlab-ci.yml
  api/app/.flake8
  api/app/.pylintrc
Due: build_api_job, deploy_api_job

fixed pylint warnings
  api/app/.flake8
  api/app/.pylintrc
  api/app/Verification/verification_models.py
  api/app/api_main.py
  api/app/dev_models/AttF56F/__init__.py
  api/app/dev_models/AttF56F/attf56f_tmp.py
  api/app/dev_models/Atte6b5/__init__.py
  api/app/dev_models/Atte6b5/atte6b5_tmp.py
  api/app/dev_models/XFEM_Bechnmark/Voelkerink_JA_XFEM_AM.pdf
  api/app/dev_models/XFEM_Bechnmark/__init__.py
  api/app/dev_models/XFEM_Bechnmark/main.py
  api/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/ownModel/own_model.py
  api/app/support/material.py
  api/app/support/xml_creator.py
Due: build_api_job, deploy_api_job

fiexd dialog
  gui/app/src/components/script1.js
Due: build_gui_job, deploy_gui_job

fixed keywordList and reset data
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

fixed upload encoding bug
  api/app/api_main.py
Due: build_api_job, deploy_api_job

fixed conversion routines
  gui/app/src/components/Conversion.vue
Due: build_gui_job, deploy_gui_job

fixed import export
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

fixed ignore mesh option
  api/app/api_main.py
Due: build_api_job, deploy_api_job

added paper
  api/app/Publications/papers.bib
Due: build_api_job, deploy_api_job

Added mindmap tool
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/assets/mindmap.jpg
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/Mindmap.vue
  gui/app/src/routes.js
Due: build_gui_job, deploy_gui_job

fixed keyword bug
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

added regex rule
  gui/app/src/components/Mindmap.vue
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job, deploy_gui_job

fixed pylint errors
  api/app/.pylintrc
  api/app/Verification/verification_models.py
  api/app/api_main.py
  api/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/__init__.py
  api/app/models/OwnModel/own_model.py
  api/app/support/base_models.py
  api/app/support/material.py
  api/app/support/xml_creator.py
  api/app/support/yaml_creator.py
  gui/app/src/components/script.js
  modelGeneratorControl.py
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

fixed bugs
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
  modelGeneratorControl.py
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

moved to dockerhub
  netcdf/Dockerfile
  peridigm/Dockerfile
  trilinos/Dockerfile
Due: none

fixed color
  gui/app/src/components/Mindmap.vue
  gui/app/src/components/script1.js
Due: build_gui_job, deploy_gui_job

Reduced env file and added volume env
  .gitlab-ci.yml
  README.md
  api/app/guides/Introduction.md
  api/app/support/file_handler.py
  docker-compose.yml
  peridigm/Dockerfile
Due: build_api_job, deploy_api_job

changed landing page text
  .gitignore
  api/Dockerfile
  api/app/api_main.py
  cron/script.sh
  gui/app/src/components/LandingPage.vue
Due: build_api_job, build_gui_job, build_cron_job, deploy_api_job, deploy_gui_job, deploy_cron_job

added trame support
  .gitlab-ci.yml
  .vscode/launch.json
  api/Dockerfile
  api/app/api_main.py
  cron/Dockerfile
  docker-compose.yml
  gui/Dockerfile
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template.html
  gui/app/src/components/template1.html
  paraview/Dockerfile
  peridigm/Dockerfile
  trame/Dockerfile
  trame/app/__init__.py
  trame/app/api_main.py
  trame/app/main.py
  trame/app/support/file_handler.py
  trame/app/venv.py
  trame/requirements.txt
Due: build_api_job, build_gui_job, build_cron_job, deploy_api_job, deploy_gui_job, deploy_cron_job

added plate with hole
  api/app/api_main.py
  api/app/models/PlateWithHole/PlateWithHole.md
  api/app/models/PlateWithHole/PlateWithHole.pub
  api/app/models/PlateWithHole/__init__.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/base_models.py
  gui/app/src/assets/PlateWithHole/PlateWithHole.jpg
  gui/app/src/assets/PlateWithHole/PlateWithHole.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  modelGeneratorControl.py
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

fixed gui env bug
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/geometry.py
  docker-compose.yml
  gui/Dockerfile
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/PlateWithHole/PlateWithHole.json
  gui/app/src/components/script.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

fixed cookies, dev mode, error window and guide
  api/Dockerfile
  docker-compose.yml
  gui/app/src/components/Publications.vue
  gui/app/src/components/guides/Buttons.vue
  gui/app/src/components/guides/FAQ.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/guides/examples/DCBmodel.vue
  gui/app/src/components/guides/examples/Dogbone.vue
  gui/app/src/components/guides/examples/GIICmodel.vue
  gui/app/src/components/guides/input/Blocks.vue
  gui/app/src/components/guides/input/BoundaryConditions.vue
  gui/app/src/components/guides/input/DamageModels.vue
  gui/app/src/components/guides/input/Job.vue
  gui/app/src/components/guides/input/Material.vue
  gui/app/src/components/guides/input/Model.vue
  gui/app/src/components/guides/input/Output.vue
  gui/app/src/components/guides/input/Solver.vue
  gui/app/src/components/guides/output/Modelview.vue
  gui/app/src/components/guides/output/Textview.vue
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Path conditions:
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  deploy_api_job: any of: api/**/*
  deploy_gui_job: any of: gui/**/*
  deploy_cron_job: any of: cron/**/*
