Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

check-coverage:
  before_script:
  - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
  - cd backend/app
  ...

check-code:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-code
  artifacts:
    when: on_failure
    expose_as: Linter Report
    paths:
    - backend/app/build/flake8.txt

check-formatting:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-formatting

build_backend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/backend backend/.
  - docker push perihub/backend

build_frontend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/frontend frontend/.
  - docker push perihub/frontend

added Own Model docs
  docs/models/OwnModels.md
  docs/models/example.md
Due: none

fixed docs
  .github/workflows/pages.yml
  docs/models/OwnModels.md
Due: none

update dependabot
  .github/dependabot.yml
Due: none

edit stack
  docker-stack.yml
Due: none

bump version
  backend/app/pyproject.toml
  frontend/app/package.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Edit workflow
  .github/workflows/Deploy.yml
Due: none

Fixed Kalthoff-Winkler
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.py
  backend/app/support/writer/yaml_writer_perilab.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added save config
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/routers/model.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/tools/SiConversionCard.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added generator script
  .pre-commit-config.yaml
  backend/app/main.py
  backend/app/routers/delete.py
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/routers/translate.py
  backend/app/routers/upload.py
  backend/app/support/file_handler.py
  backend/app/support/results/analysis.py
  backend/app/support/writer/model_writer.py
  backend/generator.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added PlateWithHole model
  backend/app/models/PlateWithHole/PlateWithHole.jpg
  backend/app/models/PlateWithHole/PlateWithHole.jpg.license
  backend/app/models/PlateWithHole/PlateWithHole.json
  backend/app/models/PlateWithHole/PlateWithHole.json.license
  backend/app/models/PlateWithHole/PlateWithHole.py
  backend/app/routers/generate.py
  backend/app/support/writer/model_writer.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed PlateWithHole and added MultistepSolver and static solver
  backend/app/models/PlateWithHole/PlateWithHole.json
  backend/app/routers/model.py
  backend/app/support/base_models.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/package-lock.json
  frontend/app/src/components/expansions/Solver.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit configs and added embedded rve
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/DCBmodel/DCBmodel.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/G1Cmodel/G1Cmodel.json
  backend/app/assets/models/GIICmodel/GIICmodel.json
  backend/app/assets/models/KICmodel/KICmodel.json
  backend/app/assets/models/KIICmodel/KIICmodel.json
  backend/app/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/assets/models/OwnModel/OwnModel.json
  backend/app/assets/models/PlateWithHole/PlateWithHole.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/assets/models/RingOnRing/RingOnRing.json
  backend/app/assets/models/Smetana/Smetana.json
  backend/app/main.py
  backend/app/models/CompactTension/CompactTension.json
  backend/app/models/CompactTension/CompactTension.py
  backend/app/models/Dogbone/Dogbone.json
  backend/app/models/Dogbone/Dogbone.py
  backend/app/models/ENFmodel/ENFmodel.json
  backend/app/models/ENFmodel/ENFmodel.py
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.py
  backend/app/models/PlateWithHole/PlateWithHole.json
  backend/app/models/PlateWithHole/PlateWithHole.py
  backend/app/routers/generate.py
  backend/app/routers/model.py
  backend/app/support/base_models.py
  backend/app/support/model/rve.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  docs/models/OwnModels.md
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Solver.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit thermal models
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/expansions/Thermal.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

updated models
  backend/app/assets/models/CompactTension/CompactTension.json
  backend/app/assets/models/Dogbone/Dogbone.json
  backend/app/assets/models/ENFmodel/ENFmodel.json
  backend/app/assets/models/G1Cmodel/G1Cmodel.json
  backend/app/assets/models/PlateWithOpening/PlateWithOpening.json
  backend/app/models/CompactTension/CompactTension.json
  backend/app/models/Dogbone/Dogbone.json
  backend/app/models/Dogbone/Dogbone.py
  backend/app/models/ENFmodel/ENFmodel.json
  backend/app/models/ENFmodel/ENFmodel.py
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.py
  backend/app/models/PlateWithHole/PlateWithHole.json
  backend/app/models/PlateWithHole/PlateWithHole.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added copy info
  frontend/app/src/components/tools/ConversionCard.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/tools/StiffnessCard.vue
Due: build_frontend_job

fixed own model handling
  backend/app/routers/model.py
  frontend/app/src/pages/Models.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

changed gcode options
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Updated filter option
  frontend/app/src/components/views/ResultsView.vue
Due: build_frontend_job

added additionalTime
  frontend/app/src/components/expansions/Solver.vue
Due: build_frontend_job

added switchOwnModels
  frontend/app/src/components/expansions/Model.vue
Due: build_frontend_job

added beforeDestroy
  frontend/app/src/components/actions/TextActions.vue
Due: build_frontend_job

fixed nodeSet dropdown
  frontend/app/src/components/expansions/BoundaryConditions.vue
Due: build_frontend_job

minor fixes
  backend/requirements.txt
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit .env
  .env.example
Due: none

edit readme
  README.md
Due: none

Fixed uploading header
  frontend/app/src/components/actions/ModelActions.vue
Due: build_frontend_job

fixed getOwnModels routine
  backend/app/routers/model.py
Due: check-coverage, check-code, check-formatting, build_backend_job

Fixed checkEnergy call
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Removed client_max_body_size
  frontend/nginx.conf
Due: build_frontend_job

added health endpoint
  backend/app/main.py
Due: check-coverage, check-code, check-formatting, build_backend_job

Update TextActions.vue
  frontend/app/src/components/actions/TextActions.vue
Due: build_frontend_job

added create_sphere
  backend/app/support/model/geometry.py
Due: check-coverage, check-code, check-formatting, build_backend_job

readded contact
  backend/app/support/base_models.py
  backend/app/support/model/geometry.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added mashfilecheck to status
  backend/app/routers/jobs.py
  backend/app/support/base_models.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/stores/default-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

update contact model
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Path conditions:
  check-coverage: any of: backend/**/*
  check-code: any of: backend/**/*
  check-formatting: any of: backend/**/*
  build_backend_job: any of: backend/**/*
  build_frontend_job: any of: frontend/**/*
