Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

check-coverage:
  before_script:
  - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
  - cd backend/app
  ...

check-code:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-code
  artifacts:
    when: on_failure
    expose_as: Linter Report
    paths:
    - backend/app/build/flake8.txt

check-formatting:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-formatting

build_backend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/backend backend/.
  - docker push perihub/backend

build_frontend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/frontend frontend/.
  - docker push perihub/frontend

eabled exodus upload
  backend/app/routers/upload.py
  frontend/app/src/components/actions/ModelActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fix tests
  frontend/app/tests/test.spec.js
Due: build_frontend_job

Save valves and model configs
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Model.vue
Due: build_frontend_job

refac
  frontend/app/package.json
  frontend/app/tests/test.spec.js
Due: build_frontend_job

refac
  frontend/app/tests/test.spec.js
Due: build_frontend_job

refac
  frontend/app/package-lock.json
Due: build_frontend_job

refac
  frontend/app/package-lock.json
  frontend/app/package.json
Due: build_frontend_job

fixes
  backend/app/routers/energy.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/boot/chartkick.ts
  frontend/app/src/boot/i18n.ts
  frontend/app/src/boot/keycloak.ts
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/components/tools/ConversionCard.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/tools/StiffnessCard.vue
  frontend/app/src/components/tools/VerticalColoredLegend.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/RenewableView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/pages/PeriHub.vue
  frontend/app/src/stores/auth-store.ts
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  README.md
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  frontend/app/package-lock.json
  frontend/app/src/boot/chartkick.ts
  frontend/app/src/boot/keycloak.ts
  frontend/app/src/boot/vtk.ts
  frontend/app/src/boot/zoom.ts
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/PlotlyView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/components/views/TextView.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/pages/Publications.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/requirements.txt
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fix requirements
  backend/requirements.txt
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/requirements.txt
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/components/tools/AmplitudeCard.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/LogView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/ResultsView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  backend/app/routers/delete.py
  backend/app/routers/energy.py
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/routers/translate.py
  backend/app/routers/upload.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/tools/ConversionCard.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/tools/StiffnessCard.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/RenewableView.vue
  frontend/app/src/components/views/ResultsView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added csv to enf analysis
  backend/app/routers/results.py
  backend/app/support/results/crack_analysis.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fixed warnings
  backend/app/main.py
  backend/app/routers/energy.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/boot/vtk.ts
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/components/tools/ConversionCard.vue
  frontend/app/src/components/tools/SiConversionCard.vue
  frontend/app/src/components/tools/StiffnessCard.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/stores/default-store.ts
  frontend/app/src/stores/model-store.ts
  frontend/app/src/stores/view-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

add deviations and multirun options
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/results/crack_analysis.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/sbatch_writer.py
  backend/app/support/writer/yaml_writer_perilab.py
  backend/requirements.txt
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Deviations.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/views/JsonView.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/stores/model-store.ts
  frontend/app/src/stores/view-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixes basemodels
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
Due: check-coverage, check-code, check-formatting, build_backend_job

fix deviations json
  backend/app/routers/results.py
  backend/app/support/writer/model_writer.py
  frontend/app/package-lock.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Finish vite
  backend/app/routers/model.py
  backend/app/support/base_models.py
  frontend/app/quasar.config.ts
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/components/views/ModelView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

merge fixes
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Deviations.vue
  frontend/app/src/components/views/JsonView.vue
  frontend/app/src/shims-vue.d.ts
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixes and use global modelData definition
  backend/app/routers/generate.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/sbatch_writer.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Deviations.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/pages/Publications.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  frontend/app/quasar.config.ts
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/pages/Models.vue
Due: build_frontend_job

Allow Own Analysis
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/results/crack_analysis.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Solver.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added runOwnAnalysis and modular design
  backend/Dockerfile
  backend/app/main.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/results/crack_analysis.py
  backend/requirements.txt
  frontend/app/quasar.config.ts
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  LICENSE.md
  backend/app/assets/config_template.json
  backend/app/main.py
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/writer/sbatch_writer.py
  docs/assets/images/PeriHub.drawio
  docs/assets/images/PeriHub.svg
  docs/output/Modelview.md
  frontend/app/eslint.config.js
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/quasar.config.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/tools/StiffnessCard.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/shims-vue.d.ts
  frontend/app/src/stores/default-store.ts
  frontend/app/tests/test.spec.js
  frontend/app/tsconfig.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added vtk patch
  .github/workflows/CI.yml
  frontend/Dockerfile
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/patches/vue-vtk-js+3.3.1.patch
  frontend/app/quasar.config.ts
  frontend/app/src/components/views/JsonView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/pages/Models.vue
Due: build_frontend_job

fix dockerfile
  frontend/Dockerfile
Due: build_frontend_job

fixed keycloak
  backend/app/main.py
  frontend/app/src/boot/keycloak.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed entrypoint
  frontend/entrypoint.sh
Due: build_frontend_job

added analysis valves
  backend/app/main.py
  backend/app/models/CompactTension/CompactTension.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/globals.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

refac
  backend/Dockerfile
  backend/app/main.py
  backend/requirements.txt
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  backend/app/assets/config_template.json
  backend/app/routers/generate.py
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/ViewComp.vue
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/layouts/MainFooter.vue
  frontend/app/src/layouts/MainHeader.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

edit config template
  backend/app/assets/config_template.json
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  backend/app/assets/config_template.json
Due: check-coverage, check-code, check-formatting, build_backend_job

bump version
  backend/app/pyproject.toml
  frontend/app/package.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Path conditions:
  check-coverage: any of: backend/**/*
  check-code: any of: backend/**/*
  check-formatting: any of: backend/**/*
  build_backend_job: any of: backend/**/*
  build_frontend_job: any of: frontend/**/*
