Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - audit
  - build

.install-deps-template: &install-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
    - pip install -r backend/requirements.txt
    - pip install -r backend/requirements-dev.txt
    - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
    - cd backend/app

# .test-template: &test
#   <<: *install-deps
#   stage: test
#   script: make test
#   tags:
#     - docker
#   except:
#     - tags
#   artifacts:
#     when: always
#     reports:
#       junit: backend/app/build/tests.xml

# test-linux-py3.11:
#   image: python:3.11-slim
#   <<: *test

check-coverage:
  image: python:3.11-slim
  <<: *install-deps
  script:
    - make check-coverage
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    when: always
    expose_as: "Coverage Report"
    paths:
      - backend/app/build/html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/app/build/coverage.xml

.install-dev-deps-template: &install-dev-deps
  only:
    refs:
      - main
    changes:
      - backend/**/*
  before_script:
    - apt update && apt install -y make
    - pip install -r backend/requirements-dev.txt
    - cd backend/app

.audit-template: &audit
  <<: *install-dev-deps
  image: python:3.11-slim
  stage: audit
  tags:
    - docker
  except:
    - tags

check-code:
  <<: *audit
  script:
    - make check-code
  artifacts:
    when: on_failure
    expose_as: "Linter Report"
    paths: ["backend/app/build/flake8.txt"]

check-formatting:
  <<: *audit
  script:
    - make check-formatting

build_backend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - backend/**/*
  script:
    - docker build -t perihub/backend backend/.
    - docker push perihub/backend

build_frontend_job:
  stage: build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - frontend/**/*
  script:
    - docker build -t perihub/frontend frontend/.
    - docker push perihub/frontend

# build_paraview_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - paraview/**/*
#   script:
#     - docker build -t perihub/paraview paraview/.
#     - docker push perihub/paraview

# build_trame_job:
#   stage: build
#   extends: [.build_before_script_template]
#   only:
#     refs:
#       - main
#     changes:
#       - trame/**/*
#   script:
#     - docker build -t perihub/trame trame/.
#     - docker push perihub/trame

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

fix deploy
  .github/workflows/Deploy.yml
  .github/workflows/deploy.yml
  backend/app/pyproject.toml
  frontend/app/package.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

add playwright
  frontend/app/package-lock.json
Due: build_frontend_job

change version
  backend/app/pyproject.toml
Due: check-coverage, check-code, check-formatting, build_backend_job

bump version
  backend/app/pyproject.toml
Due: check-coverage, check-code, check-formatting, build_backend_job

fix deploy
  .github/workflows/Deploy.yml
Due: none

refac
  backend/app/main.py
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/file_handler.py
  backend/app/support/writer/sbatch_writer.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/expansions/Job.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

removed deprecated method
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

fixed backend url
  docker-compose.yml
  frontend/app/src/boot/keycloak.ts
Due: build_frontend_job

bump version
  backend/app/pyproject.toml
  frontend/app/package.json
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

updated crackPy
  backend/app/routers/results.py
  backend/app/support/results/crack_analysis.py
  frontend/app/package-lock.json
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added runtime envs
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/quasar.config.js
  frontend/entrypoint.sh
Due: build_frontend_job

added calculateStrain
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed job cancelling
  backend/app/routers/jobs.py
  backend/app/support/writer/sbatch_writer.py
Due: check-coverage, check-code, check-formatting, build_backend_job

edit crackpy
  backend/app/support/results/crack_analysis.py
Due: check-coverage, check-code, check-formatting, build_backend_job

edit results view
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/views/ResultsView.vue
Due: build_frontend_job

added drawio to readme
  README.md
  docs/assets/images/PeriHub.drawio.svg
Due: none

add cluster error handling
  backend/app/routers/jobs.py
  backend/app/support/file_handler.py
Due: check-coverage, check-code, check-formatting, build_backend_job

added overview svg
  README.md
  docs/assets/images/PeriHub.drawio
  docs/assets/images/PeriHub.svg
Due: none

Edit svg
  docs/assets/images/PeriHub.drawio
  docs/assets/images/PeriHub.svg
Due: none

update quasar
  frontend/app/package-lock.json
  frontend/app/package.json
Due: build_frontend_job

use vue-router 4.0.0
  docker-compose.yml
  frontend/app/package.json
  frontend/app/src/pages/PeriHub.vue
Due: build_frontend_job

edit CI
  .github/workflows/CI.yml
Due: none

fix entrypoint
  frontend/app/package-lock.json
  frontend/entrypoint.sh
Due: build_frontend_job

Removed entrypoint
  frontend/Dockerfile
Due: build_frontend_job

removed $route
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

try
  frontend/app/src/pages/PeriHub.vue
Due: build_frontend_job

Redo
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/pages/PeriHub.vue
Due: build_frontend_job

readded entrypoint
  frontend/Dockerfile
Due: build_frontend_job

Added keycloak fix
  frontend/app/src/boot/keycloak.ts
Due: build_frontend_job

edit drawio
  docs/assets/images/PeriHub.drawio
  docs/assets/images/PeriHub.svg
Due: none

Edit model setup
  backend/app/.gitignore
  backend/app/routers/generate.py
  backend/app/routers/model.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  docker-compose.yml
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added ENFmodel and fixed model generation
  backend/app/models/Dogbone.py
  backend/app/models/ENFmodel.py
  backend/app/routers/model.py
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/ResultsView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added Own Model view
  backend/app/routers/generate.py
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  backend/app/support/base_models.py
  backend/app/support/writer/model_writer.py
  backend/app/support/writer/sbatch_writer.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/components/views/JobsView.vue
  frontend/app/src/components/views/ModelView.vue
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/router/routes.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job
