Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pylint, unit_test, build_api_job, build_gui_job, build_cron_job, build_paraview_job, build_trame_job

flake8:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install flake8 flake8-junit-report
  - cd api/app
  script:
  - flake8 --output-file=flake8.txt
  - flake8_junit flake8.txt flake8_junit.xml
  artifacts:
    when: always
    reports:
  ...

pylint:
  stage: Static Analysis
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pylint pylint-junit
  - cd api/app
  script:
  - pylint --output-format=junit:pylint.xml *
  artifacts:
    when: always
    reports:
      junit: api/app/pylint.xml

unit_test:
  stage: Test
  image: python:3.8
  allow_failure: true
  before_script:
  - pip install -r api/requirements.txt
  - pip install pytest
  - cd api/app
  script:
  - python3 -m pytest -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/app/report.xml

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_paraview_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

build_trame_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  ...

added getImagePython
  api/app/support/image_export.py
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

ebug fixes
  api/app/support/sbatch_creator.py
  api/app/support/test.py
  gui/app/public/images/CompactTension.jpg
  gui/app/src/assets/GIICmodel/GIICmodel.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

removed id_rsa_cara copy
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

ci test
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

api image test
  api/Dockerfile
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added gitlab token
  .gitlab-ci.yml
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

fixed smetana and added gcode_reader
  .gitlab-ci.yml
  api/Dockerfile
  api/app/api_main.py
  api/app/models/OwnModel/own_model.py
  api/app/support/file_handler.py
  api/app/support/gcode_reader.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  gui/app/vue.config.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed smetana build
  .gitlab-ci.yml
  api/app/support/gcode_reader.py
Due: flake8, pylint, unit_test, build_api_job

fixed cron call
  api/app/support/xml_creator.py
  cron/script.sh
Due: flake8, pylint, unit_test, build_api_job, build_cron_job

fixed get image python call
  api/app/api_main.py
  api/app/support/image_export.py
Due: flake8, pylint, unit_test, build_api_job

removed static analysis
  .gitlab-ci.yml
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

fixed yaml
  .gitlab-ci.yml
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

fixed image export path
  api/app/api_main.py
  api/app/support/image_export.py
Due: flake8, pylint, unit_test, build_api_job

moved model date and added shepard upload
  gui/app/src/assets/models/CompactTension/CompactTension.jpg
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/DCBmodel/DCBmodel.jpg
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Dogbone/Dogbone.jpg
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/assets/models/GIICmodel/GIICmodel.jpg
  gui/app/src/assets/models/GIICmodel/GIICmodel.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.jpg
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.jpg
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  gui/app/src/assets/models/Smetana/Smetana.jpg
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/guides/FAQ.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/script.js
  shepard_test.py
Due: build_gui_job

fixed get_max_nodes
  api/app/support/file_handler.py
Due: flake8, pylint, unit_test, build_api_job

added probabilistic and dense gui
  .gitlab-ci.yml
  api/app/api_main.py
  api/app/support/base_models.py
  api/requirements.txt
  gui/app/src/components/Tools.vue
  gui/app/src/components/style.css
  gui/app/src/components/style1.css
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

rewmoved probalistic
  api/app/api_main.py
  api/app/support/base_models.py
Due: flake8, pylint, unit_test, build_api_job

added amplitude and wavelength
  api/app/api_main.py
  api/app/models/Smetana/smetana.py
  api/app/support/base_models.py
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

update peridigm and smetana
  api/app/api_main.py
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added result file endpoint
  api/app/api_main.py
  api/app/support/analysis.py
  api/app/support/test.py
  gui/app/src/assets/models/Smetana/Smetana.json
  shepard_edit.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

moved smetana build
  api/Dockerfile
  api/Dockerfile_old
  api/app/support/analysis.py
  smetana/Dockerfile
  smetana/environment.yaml
  smetana/requirements.txt
Due: flake8, pylint, unit_test, build_api_job

finished smetana model
  api/app/support/analysis.py
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added gicmodel
  api/app/api_main.py
  api/app/models/GICmodel/GICmodel.md
  api/app/models/GICmodel/GICmodel.pub
  api/app/models/GICmodel/__init__.py
  api/app/models/GICmodel/gic_model.py
  api/app/support/analysis.py
  api/app/support/test.py
  gui/app/src/assets/models/GICmodel/GICmodel.jpg
  gui/app/src/assets/models/GICmodel/GICmodel.json
  gui/app/src/assets/models/Smetana/Smetana.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed global data and added time to exodus export
  api/app/api_main.py
  api/app/support/analysis.py
  api/app/support/exodus_reader.py
  api/app/support/image_export.py
  api/app/support/test.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

removed runData
  api/app/api_main.py
  api/app/support/analysis.py
  api/app/support/exodus_reader.py
  api/app/support/image_export.py
  api/app/support/test.py
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added job to modelData
  api/app/support/base_models.py
  gui/app/src/assets/models/CompactTension/CompactTension.json
  gui/app/src/assets/models/DCBmodel/DCBmodel.json
  gui/app/src/assets/models/Dogbone/Dogbone.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/models/PlateWithHole/PlateWithHole.json
  gui/app/src/assets/models/Smetana/Smetana.json
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added sy_bpmn to origin
  api/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job

fixed gic and added get timeseries
  api/app/api_main.py
  api/app/models/GICmodel/gic_model.py
  api/app/support/gic.py
  gui/app/src/assets/models/GICmodel/GICmodel.json
  gui/app/src/assets/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/components/script.js
  shepard_edit.py
  shepard_timeseries.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed missing shepard_client
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

added shepard to smetana image
  .gitlab-ci.yml
  smetana/Dockerfile
Due: none

removed shepard
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

fixed shepard timerseries
  api/app/api_main.py
  shepard_timeseries.py
Due: flake8, pylint, unit_test, build_api_job

fixed result_dict
  api/app/support/analysis.py
Due: flake8, pylint, unit_test, build_api_job

fixed get_result_file
  api/app/support/analysis.py
  api/app/support/test.py
Due: flake8, pylint, unit_test, build_api_job

fixed image_export
  api/app/support/image_export.py
Due: flake8, pylint, unit_test, build_api_job

changed crontab
  cron/crontab
Due: build_cron_job

fixed exodus_reader for damage blocks
  api/app/support/analysis.py
  api/app/support/exodus_reader.py
  api/app/support/image_export.py
  api/app/support/test.py
  docker-compose.yml
  gui/app/src/assets/models/Smetana/Smetana.json
  shepard_edit.py
  shepard_plot.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed adaptivetimeStepping check
  api/app/support/test.py
  api/app/support/xml_creator.py
  gui/app/src/assets/models/Smetana/Smetana.json
  shepard_edit.py
  shepard_plot.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

smetana update
  smetana/Dockerfile
Due: none

moved shepard scripts
  shepard/shepard_edit.py
  shepard/shepard_plot.py
  shepard/shepard_timeseries.py
  shepard/shepard_upload.py
Due: none

Path conditions:
  flake8: any of: api/**/*
  pylint: any of: api/**/*
  unit_test: any of: api/**/*
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  build_paraview_job: any of: paraview/**/*
  build_trame_job: any of: trame/**/*
