Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_job, build_gui_job, build_cron_job, deploy_api_job, deploy_gui_job, deploy_cron_job

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

deploy_api_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_api_image
  - docker container stop periHubApi || true
  ...

deploy_gui_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_gui_image
  - docker container stop periHubGui || true
  ...

deploy_cron_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}cron_image
  - docker container stop periHubCron || true
  ...

Fixed translation output
  api/app/support/xmlCreator.py
  gui/app/src/components/script.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Header size increased
  gui/app/src/components/script.js
  gui/nginx.conf
Due: build_gui_job, deploy_gui_job

Fixed header and moved from cookie to localstorage
  api/Dockerfile
  api/app/apiMain.py
  gui/app/package.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added RVE model
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job, deploy_gui_job

Fixed blockidstring and added ssh error message
  api/app/apiMain.py
  api/app/support/fileHandler.py
  gui/app/src/components/script.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Harbor test
  .gitlab-ci.yml
Due: none

Harbor test
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

Harbor test
  .gitlab-ci.yml
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

ssl removed
  gui/Dockerfile
Due: build_gui_job, deploy_gui_job

ssl removed
  api/Dockerfile
  gui/nginx.conf
  paraview/Dockerfile
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

changed api url
  docker-compose.yml
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

gui test
  .gitlab-ci.yml
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

gui test
  .gitlab-ci.yml
Due: none

gui test
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

api url changed
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

api origin added
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

changed peridigm hostname
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

changed peridigm hostname
  api/app/support/fileHandler.py
  docker-compose.yml
Due: build_api_job, deploy_api_job

paraview build added
  .gitlab-ci.yml
  paraview/Dockerfile
Due: none

Update README.md
  README.md
Due: none

API Button, proxy test
  api/app/apiMain.py
  api/app/support/fileHandler.py
  gui/app/src/App.vue
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

proxyTest
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

auth token
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

added jwt decoder
  api/Dockerfile
  api/app/apiMain.py
  api/app/support/fileHandler.py
Due: build_api_job, deploy_api_job

Fixed delete user
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

logerror message
  api/app/apiMain.py
Due: build_api_job, deploy_api_job

Added entrypoint to paraview
  docker-compose.yml
  paraview/Dockerfile
Due: none

Fixed dev bugs
  api/app/support/fileHandler.py
  docker-compose.yml
  gui/app/src/components/script.js
  gui/app/vue.config.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Added image axis support
  api/app/apiMain.py
  api/app/support/exodusReader/imageLastStep.py
  api/app/support/exodusReader/imageLastStepTest.py
  api/app/support/read.bat
  api/app/support/read.sh
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added routes and publications
  api/app/Publications/papers.bib
  doc/figures/PeriHub.PNG
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/App.vue
  gui/app/src/assets/PeriHub.png
  gui/app/src/components/Guide.vue
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/Publications.vue
  gui/app/src/components/guides/Examples.vue
  gui/app/src/components/guides/GettingStarted.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/main.js
  gui/app/src/routes.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

fixed RVE and added Publications
  api/Dockerfile
  api/app/apiMain.py
  gui/app/src/components/script.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Fixed json files
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
Due: build_gui_job, deploy_gui_job

moved docs
  doc/gif/PeriHub.PNG
  gui/app/public/gif/addMaterialDamage.gif
  gui/app/public/gif/analyseResults.gif
  gui/app/public/gif/editInputDeck.gif
  gui/app/public/gif/generateModel.gif
  gui/app/public/gif/runModel.gif
  gui/app/public/gif/viewMesh.gif
  gui/app/public/images/DCBmodel.jpg
  gui/app/public/images/Dogbone.jpg
  gui/app/public/images/GIICmodel.jpg
  gui/app/public/images/PeriHub.png
Due: build_gui_job, deploy_gui_job

added Examples
  api/app/DCBmodel/DCBmodel.md
  api/app/Dogbone/Dogbone.md
  api/app/GIICmodel/GIICmodel.md
  gui/app/src/components/Guide.vue
  gui/app/src/components/guides/examples/DCBmodel.vue
  gui/app/src/components/guides/examples/Dogbone.vue
  gui/app/src/components/guides/examples/FeFiles.vue
  gui/app/src/components/guides/examples/GIICmodel.vue
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Path conditions:
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  deploy_api_job: any of: api/**/*
  deploy_gui_job: any of: gui/**/*
  deploy_cron_job: any of: cron/**/*
