Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pylint, unit_test, build_api_job, build_gui_job, build_cron_job, build_paraview_job, build_trame_job

.gitlab-ci.yml:

variables: &globals
  CI_REGISTRY_PATH: "harbor.fa-services.intra.dlr.de/hess_ja/"

stages:
  - Static Analysis
  - Test
  - Build

flake8:
  stage: Static Analysis
  image: "python:3.8"
  only:
    refs:
      - main
    changes:
      - api/**/*
  allow_failure: true
  before_script:
    - pip install -r api/requirements.txt
    - pip install flake8 flake8-junit-report
    - cd api/app
  script:
    - flake8 --output-file=flake8.txt
    - flake8_junit flake8.txt flake8_junit.xml
  artifacts:
    when: always
    reports:
      junit: api/app/flake8_junit.xml

pylint:
  stage: Static Analysis
  image: "python:3.8"
  only:
    refs:
      - main
    changes:
      - api/**/*
  allow_failure: true
  before_script:
    - pip install -r api/requirements.txt
    - pip install pylint pylint-junit
    - cd api/app
  script:
    - pylint --output-format=junit:pylint.xml *
  artifacts:
    when: always
    reports:
      junit: api/app/pylint.xml

unit_test:
  stage: Test
  image: "python:3.8"
  only:
    refs:
      - main
    changes:
      - api/**/*
  allow_failure: true
  before_script:
    - pip install -r api/requirements.txt
    - pip install pytest
    - cd api/app
  script:
    - python3 -m pytest -v --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/app/report.xml

build_api_job:
  stage: Build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - api/**/*
  script:
    - docker build --build-arg EXTERNAL=False -t peri_hub_api_image api/. #--no-cache
    - docker tag peri_hub_api_image ${CI_REGISTRY_PATH}peri_hub_api_image
    - docker push ${CI_REGISTRY_PATH}peri_hub_api_image

build_gui_job:
  stage: Build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - gui/**/*
  script:
    - docker build -t peri_hub_gui_image gui/.
    - docker tag peri_hub_gui_image ${CI_REGISTRY_PATH}peri_hub_gui_image
    - docker push ${CI_REGISTRY_PATH}peri_hub_gui_image

build_cron_job:
  stage: Build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - cron/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}cron_image cron/.
    - docker push ${CI_REGISTRY_PATH}cron_image

build_paraview_job:
  stage: Build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - paraview/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}paraview_image paraview/.
    - docker push ${CI_REGISTRY_PATH}paraview_image

build_trame_job:
  stage: Build
  extends: [.build_before_script_template]
  only:
    refs:
      - main
    changes:
      - trame/**/*
  script:
    - docker build -t ${CI_REGISTRY_PATH}trame_image trame/.
    - docker push ${CI_REGISTRY_PATH}trame_image

.build_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
    - echo -e "GITHUB_TOKEN=$GIT_TOKEN\nGITHUB_USER=f_testpa\nEXTERNAL=False" >> .env
  after_script:
    - docker logout

.deploy_before_script_template:
  before_script:
    - echo "$HARBOR_KEY" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY_PATH
  after_script:
    - docker logout

fixed data view and added reload
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template.html
  gui/app/src/components/template1.html
  trame/app/main.py
Due: build_gui_job, build_trame_job

changed trame path
  gui/app/src/components/script.js
Due: build_gui_job

fixed trame path
  gui/app/src/components/script.js
Due: build_gui_job

fixed trame url
  gui/app/src/components/script.js
  trame/app/api_main.py
Due: build_gui_job, build_trame_job

changed numberOfLoadSteps and trame path
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/PlateWithHole/PlateWithHole.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job

testrun
  gui/app/src/components/script.js
Due: build_gui_job

fixed bondfilters
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/components/script.js
Due: build_gui_job

added timeline
  trame/app/api_main.py
  trame/app/main.py
Due: build_trame_job

cicd test
  trame/Dockerfile
Due: build_trame_job

fixed paraview liglapi.so bug
  api/Dockerfile
Due: flake8, pylint, unit_test, build_api_job

fixed models
  api/app/Verification/verification_models.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job

added tabs and outputs
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/style1.css
  gui/app/src/components/template.html
  gui/app/src/components/template1.html
Due: build_gui_job

added archive
  api/app/Publications/papers.bib
Due: flake8, pylint, unit_test, build_api_job

added dev size
  api/app/support/allowedMaxNodes.json
Due: flake8, pylint, unit_test, build_api_job

added trame to cron
  cron/crontab
  cron/script.sh
Due: build_cron_job

changed peridigm url
  api/app/guides/Introduction.md
Due: flake8, pylint, unit_test, build_api_job

api fixes
  api/app/api_main.py
  api/app/support/read.sh
  api/app/support/sbatch_creator.py
Due: flake8, pylint, unit_test, build_api_job

removed github token
  docker-compose.yml
  peridigm/Dockerfile
Due: none

removed token
  README.md
Due: none

fixed guide
  README.md
  api/app/guides/Introduction.md
Due: flake8, pylint, unit_test, build_api_job

added volume
  README.md
  api/app/guides/Introduction.md
Due: flake8, pylint, unit_test, build_api_job

added compactTension model
  api/app/api_main.py
  api/app/models/CompactTension/CompactTension.md
  api/app/models/CompactTension/CompactTension.pub
  api/app/models/CompactTension/__init__.py
  api/app/models/CompactTension/compact_tension.py
  api/app/support/geometry.py
  gui/app/src/assets/CompactTension/CompactTension.jpg
  gui/app/src/assets/CompactTension/CompactTension.json
  gui/app/src/components/script.js
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added crack length module
  .vscode/launch.json
  api/app/models/CompactTension/compact_tension.py
  api/app/support/crack_length.py
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job

added amplitude generator
  gui/app/src/components/Conversion.vue
Due: build_gui_job

added amplitude generator
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/Tools.vue
  gui/app/src/routes.js
Due: build_gui_job

added data tables
  gui/app/src/components/script1.js
  gui/app/src/components/style1.css
  gui/app/src/components/template1.html
Due: build_gui_job

added contact and compactTension model
  api/app/api_main.py
  api/app/models/CompactTension/CompactTension.pub
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/OwnModel/own_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/base_models.py
  api/app/support/crack_length.py
  api/app/support/file_handler.py
  api/app/support/model_writer.py
  api/app/support/test.py
  api/app/support/xml_creator.py
  api/requirements.txt
  gui/app/src/assets/CompactTension/CompactTension.jpg
  gui/app/src/assets/CompactTension/CompactTension.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

renamed variables and added interblock definition
  api/app/Verification/verification_models.py
  api/app/api_main.py
  api/app/dev_models/XFEM_Bechnmark/xfem_dcb.py
  api/app/guides/input/Blocks.md
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/AITM 1-0006 Iss2 (Jun1994) Interlaminar fracture toughness energy Mode II - GIIc-Test.pdf
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/analysis.py
  api/app/support/base_models.py
  api/app/support/exodus_reader.py
  api/app/support/geometry.py
  api/app/support/material.py
  api/app/support/sbatch_creator.py
  api/app/support/test.py
  api/app/support/xml_creator.py
  api/app/support/yaml_creator.py
  api/requirements.txt
  gui/app/src/assets/CompactTension/CompactTension.json
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/PlateWithHole/PlateWithHole.json
  gui/app/src/components/Tools.vue
  gui/app/src/components/script.js
  gui/app/src/components/script1.js
  gui/app/src/components/template.html
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed name error and added g2c calculation
  api/app/api_main.py
  api/app/models/CompactTension/ISO 13586 Plastics-Determination of fracture toughness (GIc - KIc) (2000-03-01).pdf
  api/app/models/CompactTension/ISO 13586.pdf
  api/app/support/analysis.py
  api/app/support/file_handler.py
  api/app/support/xml_creator.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  modelGeneratorControl.py
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added driver.js
  api/app/models/GIICmodel/giic_model.py
  api/app/support/xml_creator.py
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added contact_force
  api/app/guides/input/Output.md
  api/app/models/CompactTension/compact_tension.py
  api/app/models/DCBmodel/dcb_model.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/KalthoffWinkler/kalthoff_winkler.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/base_models.py
  api/app/support/xml_creator.py
  gui/app/src/assets/CompactTension/CompactTension.json
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
  gui/app/src/assets/PlateWithHole/PlateWithHole.json
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

added drawio schema
  README.md
  gui/app/public/images/PeriHub.drawio.pdf
Due: build_gui_job

changed drawio
  README.md
  gui/app/public/images/PeriHub.drawio.pdf
  gui/app/public/images/PeriHub.drawio.png
Due: build_gui_job

aded download plot button
  gui/app/src/components/script1.js
  gui/app/src/components/template1.html
Due: build_gui_job

added fa_pyutils logging
  api/app/api_main.py
  api/app/models/Dogbone/dogbone.py
  api/app/models/GIICmodel/giic_model.py
  api/app/models/PlateWithHole/plate_with_hole.py
  api/app/support/analysis.py
  api/app/support/crack_length.py
  api/app/support/file_handler.py
  api/app/support/geometry.py
  api/app/support/globals.py
  api/app/support/model_writer.py
  trame/app/api_main.py
Due: flake8, pylint, unit_test, build_api_job, build_trame_job

added smetana
  .gitlab-ci.yml
  README.md
  api/Dockerfile
  api/app/guides/Introduction.md
  api/app/models/Smetana/smetana.py
  api/environment.yaml
  docker-compose.yml
  gui/app/src/assets/Smetana/Smetana.jpg
  gui/app/src/assets/Smetana/Smetana.json
  gui/app/src/components/script.js
Due: flake8, pylint, unit_test, build_api_job, build_gui_job

fixed contact error
  api/app/support/xml_creator.py
Due: flake8, pylint, unit_test, build_api_job
