Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

check-coverage:
  before_script:
  - apt update && apt install -y make git build-essential libcgal-dev libeigen3-dev -y
  - pip install -r backend/requirements.txt
  - pip install -r backend/requirements-dev.txt
  - pip install --no-cache-dir --upgrade git+https://github.com/JTHesse/crackpy.git
  - cd backend/app
  ...

check-code:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-code
  artifacts:
    when: on_failure
    expose_as: Linter Report
    paths:
    - backend/app/build/flake8.txt

check-formatting:
  before_script:
  - apt update && apt install -y make
  - pip install -r backend/requirements-dev.txt
  - cd backend/app
  image: python:3.11-slim
  stage: audit
  tags:
  - docker
  script:
  - make check-formatting

build_backend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/backend backend/.
  - docker push perihub/backend

build_frontend_job:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: build
  script:
  - docker build -t perihub/frontend frontend/.
  - docker push perihub/frontend

increased timeout
  frontend/app/playwright.config.ts
Due: build_frontend_job

fixed test
  frontend/app/tests/test.spec.js
Due: build_frontend_job

added meshcheck for upload #295
  backend/app/routers/model.py
  backend/app/routers/upload.py
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/views/ModelView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed wrong disctype #9
  frontend/app/src/components/actions/ModelActions.vue
Due: build_frontend_job

Increased max. file size
  backend/app/routers/model.py
  backend/app/routers/upload.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/actions/ModelActions.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Show only max_nodes in the model and result viewer
  backend/app/routers/model.py
  backend/app/routers/results.py
  backend/app/support/globals.py
  frontend/app/src/components/views/ModelView.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixedd getPointDataResults
  backend/app/routers/results.py
  frontend/app/src/components/expansions/Model.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added MAX_NODES
  .env.example
Due: none

Fixed getPointData and added test
  .github/workflows/CI.yml
  backend/Dockerfile
  backend/app/routers/jobs.py
  backend/app/routers/model.py
  frontend/app/src/components/views/ModelView.vue
  frontend/app/tests/test.spec.js
  test/dev/CompactTension/Default/CompactTension_Output1.e
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fix Node_Set_Data
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/components/expansions/Output.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added printBedZCoord
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Thermal.vue
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Added error handling to checkstatus
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Edit Dialog
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Fixed user header
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Edit energy plot
  frontend/app/src/components/actions/ViewActions.vue
Due: build_frontend_job

Crack length refac
  backend/app/support/results/crack_analysis.py
Due: check-coverage, check-code, check-formatting, build_backend_job

FIxed reimport of own models
  backend/app/.gitignore
  backend/app/routers/generate.py
  frontend/app/quasar.config.js
  frontend/entrypoint.sh
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

fixed keycloak url
  frontend/app/src/boot/keycloak.ts
Due: build_frontend_job

added gcode height and reindexing
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/expansions/Additive.vue
  frontend/app/src/components/expansions/Blocks.vue
  frontend/app/src/components/expansions/BoundaryConditions.vue
  frontend/app/src/components/expansions/Contact.vue
  frontend/app/src/components/expansions/Damage.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Material.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/components/expansions/Thermal.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added equation
  backend/app/support/base_models.py
  backend/app/support/writer/yaml_writer_perilab.py
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Fixed keycloak auth
  backend/app/main.py
  backend/app/support/file_handler.py
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/assets/rules.js
  frontend/app/src/boot/keycloak.ts
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
  frontend/app/src/components/expansions/BondFilters.vue
  frontend/app/src/components/expansions/Discretization.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Output.vue
  frontend/app/src/components/expansions/Solver.vue
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/stores/default-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

added thermal conversions
  frontend/app/src/components/tools/SiConversionCard.vue
Due: build_frontend_job

fixed ci
  frontend/app/package.json
  frontend/app/tests/test.spec.js
Due: build_frontend_job

added cluster info
  frontend/app/src/boot/keycloak.ts
  frontend/app/src/components/ExpansionComp.vue
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
  frontend/app/src/stores/default-store.ts
Due: build_frontend_job

added username to header
  frontend/app/src/boot/keycloak.ts
  frontend/app/src/layouts/MainHeader.vue
  frontend/app/src/stores/default-store.ts
Due: build_frontend_job

refac
  frontend/app/src/boot/keycloak.ts
Due: build_frontend_job

refac
  frontend/app/tests/test.spec.js
  test/user/CompactTension/Default/CompactTension_Output1.e
Due: build_frontend_job

refac
  frontend/app/src/boot/keycloak.ts
  frontend/entrypoint.sh
Due: build_frontend_job

Optimized Result View
  frontend/app/src/components/views/ResultsView.vue
  frontend/app/src/css/app.scss
Due: build_frontend_job

Fixed fixed dt rule
  frontend/app/src/components/expansions/Solver.vue
Due: build_frontend_job

Fixed specificHeatCapacity and thermalExpansionCoefficient
  backend/app/support/writer/yaml_writer_perilab.py
Due: check-coverage, check-code, check-formatting, build_backend_job

reduce default cluster tasks, reenable ENFanalysis
  backend/app/assets/config_template.json
  backend/app/models/CompactTension/CompactTension.json
  backend/app/models/DCBmodel/DCBmodel.json
  backend/app/models/Dogbone/Dogbone.json
  backend/app/models/ENFmodel/ENFmodel.json
  backend/app/models/Kalthoff-Winkler/Kalthoff-Winkler.json
  backend/app/models/PlateWithHole/PlateWithHole.json
  backend/app/routers/jobs.py
  backend/app/routers/results.py
  backend/app/support/base_models.py
  backend/app/support/file_handler.py
  backend/app/support/results/crack_analysis.py
  frontend/app/package-lock.json
  frontend/app/src/client/schemas.gen.ts
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/actions/ViewActions.vue
  frontend/app/src/stores/model-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

disabled features for trial mode
  backend/app/routers/generate.py
  backend/app/support/file_handler.py
  frontend/app/quasar.config.js
  frontend/app/src/components/actions/ModelActions.vue
  frontend/app/src/components/actions/TextActions.vue
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
  frontend/app/src/components/expansions/Job.vue
  frontend/app/src/components/expansions/Model.vue
  frontend/app/src/layouts/MainLayout.vue
  frontend/app/src/pages/Models.vue
  frontend/app/src/stores/default-store.ts
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

update papers
  backend/app/Publications/papers.bib
Due: check-coverage, check-code, check-formatting, build_backend_job

refac
  frontend/app/package-lock.json
Due: build_frontend_job

Added update check
  backend/app/main.py
  frontend/app/src/client/services.gen.ts
  frontend/app/src/client/types.gen.ts
  frontend/app/src/components/dialogs/UserSettingsComponent.vue
  frontend/app/tests/test.spec.js
Due: check-coverage, check-code, check-formatting, build_backend_job, build_frontend_job

Path conditions:
  check-coverage: any of: backend/**/*
  check-code: any of: backend/**/*
  check-formatting: any of: backend/**/*
  build_backend_job: any of: backend/**/*
  build_frontend_job: any of: frontend/**/*
