Repository PeriHub/PeriHub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_job, build_gui_job, build_cron_job, deploy_api_job, deploy_gui_job, deploy_cron_job

build_api_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_gui_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build_cron_job:
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_LANG: en_US.UTF-8
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

deploy_api_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_api_image
  - docker container stop periHubApi || true
  ...

deploy_gui_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}peri_hub_gui_image
  - docker container stop periHubGui || true
  ...

deploy_cron_job:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  after_script:
  - docker logout
  stage: deploy
  tags:
  - wsl
  script:
  - docker pull ${CI_REGISTRY_PATH}cron_image
  - docker container stop periHubCron || true
  ...

Fixed json files
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
Due: build_gui_job, deploy_gui_job

added Limits and Docs
  api/app/DCBmodel/DCBmodel.py
  api/app/Dogbone/Dogbone.py
  api/app/GIICmodel/GIICmodel.py
  api/app/apiMain.py
  api/app/ownModel/ownModel.py
  api/app/support/allowedMaxNodes.json
  api/app/support/fileHandler.py
Due: build_api_job, deploy_api_job

Added markdown
  api/app/guides/Introduction.md
  gui/app/package-lock.json
  gui/app/package.json
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Changed Landingpage and routes
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/routes.js
Due: build_gui_job, deploy_gui_job

Fixed json save and read, added FeSize
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

Fixed cluster access
  api/app/support/fileHandler.py
  docker-compose.yml
Due: build_api_job, deploy_api_job

Padding added
  gui/app/src/components/LandingPage.vue
Due: build_gui_job, deploy_gui_job

Removed FA-Cluster and fixed json read
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

Fixed gui and added expand/collapse button
  gui/app/src/components/Publications.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/guides/examples/DCBmodel.vue
  gui/app/src/components/guides/examples/Dogbone.vue
  gui/app/src/components/guides/examples/GIICmodel.vue
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_gui_job, deploy_gui_job

Removed conference
  api/app/Publications/papers.bib
Due: build_api_job, deploy_api_job

Removed default markdown
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/guides/examples/DCBmodel.vue
  gui/app/src/components/guides/examples/Dogbone.vue
  gui/app/src/components/guides/examples/GIICmodel.vue
Due: build_gui_job, deploy_gui_job

Optimized modelgenerator with numpy #9
  .vscode/launch.json
  api/Dockerfile
  api/app/DCBmodel/DCBmodel.py
  api/app/Dogbone/Dogbone.py
  api/app/GIICmodel/GIICmodel.py
  api/app/apiMain.py
  api/app/support/geometry.py
  api/app/support/modelWriter.py
  gui/app/src/components/script.js
  modelGeneratorControl.py
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Sorted api endpoints
  api/app/apiMain.py
  api/app/support/allowedMaxNodes.json
  gui/app/src/components/script.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Changed json format
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/Dogbone/Dogbone.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
Due: build_gui_job, deploy_gui_job

added text to Landing page
  gui/app/src/components/LandingPage.vue
Due: build_gui_job, deploy_gui_job

sorted API and cleaned requests
  api/app/DCBmodel/DCBmodel.py
  api/app/Dogbone/Dogbone.py
  api/app/GIICmodel/GIICmodel.py
  api/app/apiMain.py
  api/app/support/baseModels.py
  api/app/support/modelWriter.py
  api/app/support/sbatchCreator.py
  api/app/support/xmlCreator.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Removed LandingPage route
  gui/app/src/App.vue
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/PeriHub.vue
  gui/app/src/routes.js
Due: build_gui_job, deploy_gui_job

Changed Figures
  gui/app/src/assets/books.jpg
  gui/app/src/assets/dogbone.png
  gui/app/src/assets/papers.jpg
  gui/app/src/components/LandingPage.vue
Due: build_gui_job, deploy_gui_job

Change Dogbone default
  api/app/support/baseModels.py
  gui/app/src/assets/Dogbone/Dogbone.json
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Removed packages
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/script.js
  gui/app/src/main.js
Due: build_gui_job, deploy_gui_job

Fixed landing page and added fixe dt
  api/app/support/baseModels.py
  api/app/support/fileHandler.py
  api/app/support/xmlCreator.py
  gui/app/package.json
  gui/app/src/App.vue
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Ad ignoreMesh option if model not changed close #2
  api/app/DCBmodel/DCBmodel.py
  api/app/Dogbone/Dogbone.py
  api/app/GIICmodel/GIICmodel.py
  api/app/apiMain.py
  api/app/support/baseModels.py
  api/app/support/modelWriter.py
Due: build_api_job, deploy_api_job

Added guides
  api/app/guides/Buttons.md
  api/app/guides/FAQ.md
  api/app/guides/input/Blocks.md
  api/app/guides/input/BoundaryConditions.md
  api/app/guides/input/DamageModels.md
  api/app/guides/input/Job.md
  api/app/guides/input/Material.md
  api/app/guides/input/Model.md
  api/app/guides/input/Output.md
  api/app/guides/input/Solver.md
  api/app/guides/output/Modelview.md
  api/app/guides/output/Textview.md
  gui/app/src/components/Guide.vue
  gui/app/src/components/Publications.vue
  gui/app/src/components/guides/Buttons.vue
  gui/app/src/components/guides/FAQ.vue
  gui/app/src/components/guides/Input.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/guides/Output.vue
  gui/app/src/components/guides/examples/Dogbone.vue
  gui/app/src/components/guides/examples/GIICmodel.vue
  gui/app/src/components/guides/input/Blocks.vue
  gui/app/src/components/guides/input/BoundaryConditions.vue
  gui/app/src/components/guides/input/DamageModels.vue
  gui/app/src/components/guides/input/Job.vue
  gui/app/src/components/guides/input/Material.vue
  gui/app/src/components/guides/input/Model.vue
  gui/app/src/components/guides/input/Output.vue
  gui/app/src/components/guides/input/Solver.vue
  gui/app/src/components/guides/output/Modelview.vue
  gui/app/src/components/guides/output/Textview.vue
  gui/app/src/components/script.js
  gui/app/src/routes.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Fixed block request
  api/app/support/baseModels.py
Due: build_api_job, deploy_api_job

Reduce footer size
  gui/app/src/App.vue
Due: build_gui_job, deploy_gui_job

Error handling
  api/app/DCBmodel/DCBmodel.py
  api/app/Dogbone/Dogbone.py
  api/app/GIICmodel/GIICmodel.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Fixed yaml load and added Props
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

Added conversion module
  api/app/apiMain.py
  gui/app/src/assets/math.jpg
  gui/app/src/components/Conversion.vue
  gui/app/src/components/LandingPage.vue
  gui/app/src/routes.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Added storage to conversion
  gui/app/src/components/Conversion.vue
Due: build_gui_job, deploy_gui_job

Added getStatus for button hide #13
  api/app/apiMain.py
  api/app/support/baseModels.py
  gui/app/src/components/script.js
  gui/app/src/components/template.html
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Changed image
  gui/app/src/assets/compass.jpg
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

Fixed json bugs
  gui/app/src/components/script.js
Due: build_gui_job, deploy_gui_job

changed pipeline
  .gitlab-ci.yml
Due: none

Changed font and image size
  .gitlab-ci.yml
  api/app/apiMain.py
  api/app/guides/Buttons.md
  api/app/guides/input/Model.md
  api/app/support/exodusReader/imageLastStep.py
  api/app/support/read.sh
  gui/app/package-lock.json
  gui/app/package.json
  gui/app/src/App.vue
  gui/app/src/components/Conversion.vue
  gui/app/src/components/LandingPage.vue
  gui/app/src/components/guides/input/Model.vue
  gui/app/src/components/script.js
  gui/app/src/components/template.html
  gui/app/src/fonts/Arial/ARIAL.TTF
  gui/app/src/fonts/Frutiger/FRUTIGER-LIGHT.TTF
  gui/app/src/fonts/Frutiger/FRUTIGER-ROMAN.TTF
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Added a few documentations
  api/app/guides/input/Blocks.md
  api/app/guides/input/BoundaryConditions.md
  api/app/guides/input/DamageModels.md
  api/app/guides/input/Job.md
  api/app/guides/input/Material.md
  api/app/guides/input/Model.md
  api/app/guides/input/Output.md
  api/app/guides/input/Solver.md
  api/app/guides/output/Modelview.md
  api/app/guides/output/Textview.md
  gui/app/public/images/modelView1.PNG
  gui/app/public/images/modelView2.PNG
  gui/app/public/images/modelView3.PNG
  gui/app/public/images/modelView4.PNG
  gui/app/public/images/textView1.PNG
  gui/app/public/images/textView2.PNG
  gui/app/src/components/guides/input/Blocks.vue
  gui/app/src/components/guides/input/BoundaryConditions.vue
  gui/app/src/components/guides/input/DamageModels.vue
  gui/app/src/components/guides/input/Job.vue
  gui/app/src/components/guides/input/Material.vue
  gui/app/src/components/guides/input/Model.vue
  gui/app/src/components/guides/input/Output.vue
  gui/app/src/components/guides/input/Solver.vue
  gui/app/src/components/guides/output/Modelview.vue
  gui/app/src/components/guides/output/Textview.vue
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Fixed markdown table
  api/app/guides/Buttons.md
  gui/app/src/components/guides/Buttons.vue
  gui/app/src/components/guides/FAQ.vue
  gui/app/src/components/guides/Introduction.vue
  gui/app/src/components/guides/input/Blocks.vue
  gui/app/src/components/guides/input/BoundaryConditions.vue
  gui/app/src/components/guides/input/DamageModels.vue
  gui/app/src/components/guides/input/Job.vue
  gui/app/src/components/guides/input/Material.vue
  gui/app/src/components/guides/input/Model.vue
  gui/app/src/components/guides/input/Output.vue
  gui/app/src/components/guides/input/Solver.vue
  gui/app/src/components/guides/output/Modelview.vue
  gui/app/src/components/guides/output/Textview.vue
  gui/app/src/main.js
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

Added issue_templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Depractions.md
  .gitlab/issue_templates/DesignSprint.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/EventProposal.md
  .gitlab/issue_templates/Implementation.md
  .gitlab/issue_templates/Refactoring.md
  .gitlab/issue_templates/UserStory.md
Due: none

removed comments
  .gitlab-ci.yml
  api/Dockerfile
  gui/Dockerfile
  gui/app/src/App.vue
  peridigm/Dockerfile
Due: build_api_job, build_gui_job, deploy_api_job, deploy_gui_job

added modelName and velocity
  gui/app/src/assets/DCBmodel/DCBmodel.json
  gui/app/src/assets/GIICmodel/GIICmodel.json
  gui/app/src/assets/Kalthoff-Winkler/Kalthoff-Winkler.json
Due: build_gui_job, deploy_gui_job

Path conditions:
  build_api_job: any of: api/**/*
  build_gui_job: any of: gui/**/*
  build_cron_job: any of: cron/**/*
  deploy_api_job: any of: api/**/*
  deploy_gui_job: any of: gui/**/*
  deploy_cron_job: any of: cron/**/*
